{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
	<div class="login-box">
		<div class="login-logo">
			<a href="../../index2.html"><b>Mangusta Dresses</b></a>
		</div>
		<div class="login-box-body">
			{{ form_open() }}
				{% if validation_errors | length %}
				<div class="alert alert-danger">
					{{ validation_errors | raw }}
				</div>
				{% endif %}
				<div class="form-group has-feedback">
					{{ form_input({'name': 'username', 'placeholder': 'Enter username...', 'class': 'form-control', 'value': username}) }}
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					{{ form_input({'name': 'password', 'placeholder': 'Enter password...', 'type': 'password', 'class': 'form-control', 'value': password}) }}
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8"></div>
					<div class="col-xs-4">
						<button class="btn btn-primary btn-block btn-flat" type="submit">Sign In</button>
					</div>
				</div>
			{{ form_close() }}
		</div>
		<!-- /.login-box-body -->
	</div>
{% endblock %}
