<div class="form-group">
    {% for description in pageDescriptions %}
        <div class="radio">
            <label for="descriptions_{{ description.id }}">
                <input name="page_descriptions"
                       id="descriptions_{{ description.id }}"
                       value="{{ description.id }}"
                       {#checked="1"#}
                       type="radio">
                {{ description.description }}
            </label>
        </div>
    {% endfor %}

</div>