{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.min.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> {{ title }}</h3>
                </div>
                {{ form_open() }}
                <div class="box-body">
                    {% if validation_errors | length %}
                        <div class="alert alert-danger">
                            {{ validation_errors | raw }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_label('Description') }}
                                {{ form_textarea({'class': 'form-control', 'name': 'description'}, set_value('description', object.description)) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
                {{ form_close() }}
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Description variants</h4>
                </div>
                <div class="modal-body">
                    asd
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block custom_javascripts %}
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.full.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/js/facebook_auto_post_helper.js') }}"></script>
    <script type="text/javascript">
        FAPHelper.setAutocompleteTarget('#product_autocomplete');
        FAPHelper.setUrlForAutocomplete('{{ base_url('admin/facebook/fap_find_product') }}');
        FAPHelper.init();

        $(function() {
            $('#product-info').hide();
            jQuery.datetimepicker.setLocale('en');
            jQuery('.datetimepicker').datetimepicker({
                format:'Y-m-d H:i:s'
            });

            $('form').submit(function(event){

                var product_id = $('#product_id').val();
                if(product_id === '' && product_id < 1 ){
                    alert('Please select a product');
                    event.preventDefault();
                }
            });

        });


    </script>

{% endblock %}