{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = title %}
{% set LIST_COLUMNS = ['ID', 'Description'] %}

{% block table_body %}
	<tr>
		<p>
			<a href="{{ site_url('admin/facebook/manage-text') }}/{{ facebook_page_id }}/create" type="button" class="btn btn-primary">Create description</a>
		</p>
	</tr>
{% for facebook in facebook_page_descriptions %}
	<tr>
		<td>{{ facebook.id }}</td>
		<td>{{ facebook.description }}</td>
		<td>
			<a href="{{ site_url('admin/facebook/manage-text/edit') }}/{{ facebook.id }}" type="button" class="btn btn-warning btn-xs">Edit record</a>
			<a href="{{ site_url('admin/facebook/manage-text/delete') }}/{{ facebook.id }}" type="button" class="btn btn-danger btn-xs">Delete record</a>
		</td>
	</tr>
{% endfor %}
{% endblock %}
