{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Manage user</h3>
			</div>
			{{ form_open() }}
				<div class="box-body">
					<div class="form-group">
						{{ form_label('Username') }}
						{{ form_input({'class': 'form-control', 'name': 'username', 'value': object.username}) }}
					</div>
					<div class="form-group">
						{{ form_label('E-mail') }}
						{{ form_input({'class': 'form-control', 'name': 'email', 'value': object.email}) }}
					</div>
					<div class="form-group">
						{{ form_label('Password') }}
						{{ form_input({'class': 'form-control', 'name': 'password', 'type': 'password'}) }}
					</div>
					<div class="form-group">
						{{ form_label('Facebook ID') }}
						{{ form_input({'class': 'form-control', 'name': 'fb_id', 'value': object.fb_id}) }}
					</div>
					<div class="form-group">
						{{ form_label('Group') }}
						{{ form_dropdown({'class': 'form-control', 'name': 'group_id', 'options': groups, 'selected': object.group_id}) }}
					</div>
					<div class="form-group">
						{{ form_input({'name': 'isActive', 'value': 0, 'type': 'hidden'}) }}
						{{ form_checkbox({'name': 'isActive', 'value': 1, 'checked': object.isActive}) }}
						{{ form_label('Active') }}
					</div>
					<div class="form-group">
						{{ form_input({'name': 'is_super', 'value': 0, 'type': 'hidden'}) }}
						{{ form_checkbox({'name': 'is_super', 'value': 1, 'checked': object.is_super}) }}
						{{ form_label('Super administrator') }}
						<i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Super administrator permission allows the user to view the records added per module, if given permission to access the module."></i>
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}
