{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Users' %}
{% set LIST_COLUMNS = ['ID', 'Username', 'E-mail', 'Facebook Link', 'Group', 'Active', 'Actions'] %}

{% block table_body %}
{% for user in users %}
	<tr>
		<td>{{ user.id }}</td>
		<td>{{ user.username }}</td>
		<td>{{ user.email }}</td>
		<td><a href="https://www.facebook.com/{{ user.fb_id }}">{{ user.fb_id }}</a></td>
		<td>{{ user.group_title }}</td>
		<td>{{ crud_is_active(user.isActive) }}</td>
		<td>
			{{ crud_action('admin/user/edit', user.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/user/idelete', user.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}