{% extends "admin/layouts/base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-lg-5">
			{{ block('table_orders') }}
		</div>
		<div class="col-lg-2">
			{{ block('table_schedule_list') }}
		</div>
		<div class="col-lg-5">
			{{ block('table_todo_list') }}
		</div>
	</div>
{% endblock %}

{% block table_orders %}
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Latest 15 Orders</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Customer Name</th>
						<th>Country</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders_collection %}
						<tr>
							<td>
								{{ crud_action('admin/orders/edit', order.id, '#' ~ order.id) }}
							</td>
							<td>{{ order.customer_name }}</td>
							<td>{{ order.country_name }}</td>
							<td>{{ crud_get_status_for_order(order.status) }}</td>
							<td>
								{{ crud_action('admin/orders/edit', order.id, 'View order', 'btn btn-default btn-xs') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5" class="text-center alert-danger">No results found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="box-footer clearfix">
		{{ anchor('admin/orders', 'View all orders', {'class': 'btn btn-sm btn-default btn-flat pull-right'}) }}
	</div>
</div>
{% endblock %}

{% block table_todo_list %}
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">My Pages</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Unseen</th>
						<th>Page</th>
					</tr>
				</thead>
				<tbody>
					{% for page in pages %}
						<tr>
							{% if page.unseen_message_count > 0 %}
								<td style="color: red; font-weight: bold">{{ page.unseen_message_count }}</td>
								<td><a href="https://business.facebook.com/{{ page.fb_id }}/messages/" style="color: red; font-weight: bold">{{ page.fb_title }}</a></td>
							{% else %}
								<td>{{ page.unseen_message_count }}</td>
								<td><a href="https://business.facebook.com/{{ page.fb_id }}/messages/">{{ page.fb_title }}</a></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block table_schedule_list %}
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">My Schedule</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Date</th>
						<th>Hours</th>
					</tr>
				</thead>
				<tbody>
					{% for day in schedule %}
						<tr>
							<td>{{ day.date }}</td>
							<td>{{ day.hours }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}