* {
}
html {
	font-family: verdana,arial;
	font-size: 12px;
	height: 100%;
	overflow-y: scroll;
	display: block;
	background: url('images/wrench.jpg') top right no-repeat;
}
img {
	border: none;
	padding:0;
	margin:0;
	vertical-align:middle;
}
#wrapper {
	height: 100%;
	width: 90%;
	margin: 0px auto;
	display: block;	
	margin-top: 20px;
}
fieldset {
	padding: 5px;
}
a:link,a:active,a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: gray;
	text-decoration: underline;
}
input,select,textarea,.button {
	font-family: verdana;
	height: 20px;
	line-height: 15px;
	font-size: 14px;
	margin: 5px;
	width: 98%;
}
textarea {height: auto;}
select {
	height: 26px;
}
.button {
	height: 25px;
	line-height: 20px;
}
.checkbox {
	height: 15px;
	width: 15px;
}
.clear{clear:both;}

.dataTables_length select, .dataTables_filter input {
	display: inline;
	width: auto;
}
.small {
	font-size: 10px;
}

#header .info_text {
	font-size: 12px;
	padding: 0px;
	float: right;
	text-align: right;
}

.image {
	float: left;
}
.image a {
	float: left;
	display: block;
	border: solid 2px gray;
	background-repeat: no-repeat;
	background-color: red;
	background-position: center;
	margin: 10px;
	text-decoration: none;
	width: 100px;
	height: 100px;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.mattblacktabs ul{
margin: 0;
padding: 0;
font-weight: bold;
list-style-type: none;
border-bottom: 2px solid black; /*bottom horizontal line that runs beneath tabs*/
display: block;
height: 33px;
}

.mattblacktabs li {
float: left;
}
.mattblacktabs li a{
display: block;
text-decoration: none;
margin: 0;
padding: 8px; /*padding inside each tab*/
line-height: 18px;
border-right: 1px solid white; /*right divider between tabs*/
color: white;
background: #414141; /*background of tabs (default state)*/
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
}

.mattblacktabs li.disabled a{
background: red; /*background of tabs (default state)*/
}

.mattblacktabs li a:visited{
color: white;
}

.mattblacktabs li a:hover, .mattblacktabs li.active a, .mattblacktabs li.selected a{
background: black; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
}

/* ===================================== */

.mattblacktabs ul li {
	position:relative;
}
.mattblacktabs ul li ul {
background: green;
position:absolute;
left:0px;
display:none;
}
.mattblacktabs ul li ul li a {
	width: 150px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
}


*html .mattblacktabs ul li ul {
    margin:0 0 0 -2px;
}










#content {
	padding-top: 10px;
}
fieldset {
	padding: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-color: black;
}
fieldset fieldset {
	background: url(images/hr.png) bottom repeat-x;
}
sup {
	text-decoration: none;
}
#sub {
	background: green;
	display: block;
	height: 19px;
	background: url(images/sub.gif) no-repeat 180px 0px;
}
div.img {
	width: 185px;
	height: 120px;
	display: block;
	float: left;
	position: relative;
	border: solid 1px gray;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
	background-repeat: no-repeat;
	background-position: center;
}
div.img .links {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.double_cols div {
	float: left;
	width: 49.5%;
}









div.error, div.success, div.warning, div.debug, div.confirm, div.info  {
	color: #bb0b0c;
	font-size: 1.25em;
	font-weight: bold;
	background: #f9e5e6 url('images/status_error.png') 10px center no-repeat;
	padding: 15px 15px 15px 45px;
	margin: 10px 0px;
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.error {
	border-color: #e8aaad;
	text-shadow: 0 0 1px #fff;
}

div.success {
	background-image: url('images/status_success.png');
	border-color: #84a465;
	background-color: #f2ffeb;
	color: #1b853e;
}

div.info {
	background-image: url('images/status_info.png');
	background-color: #BDE5F8;
	color: #00529B;
}

div.warning, div.debug, div.confirm {
	background-image: url('images/status_warning.png');
	background-color: #fffbc9;
	border-color: #f0dca1;
	color: #000;
	text-shadow: 0 0 3px #fff;
}










ul.tabs li.active  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	padding: 10px;
}











.add_pic_container {
	border: solid 1px gray; margin: 5px;
	float: left;
	width: 100px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
}
.add_pic_container a {
	background: gray;
	width: 100px;
	height: 20px;
	line-height: 20px;
	color:white;
	font-weight: bold;
	text-align: center;
}










a.paginate {
border: 1px solid #414141;
padding: 2px 6px 2px 6px;
text-decoration: none;
color: black;
}
a.paginate:hover {
background-color: black;
color: white;
text-decoration: underline;
}
a.current {
border: 1px solid #000080;
padding: 2px 6px 2px 6px;
cursor: default;
background:#414141;
color: #FFF;
text-decoration: none;
}
span.inactive {
border: 1px solid #999;
padding: 2px 6px 2px 6px;
color: #999;
cursor: default;
}




#bookmarklet {
	background: url(images/bookmarklet.gif) no-repeat 12px 12px #414141;
	line-height: 40px;
	padding-left: 40px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	display: block;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}
#bookmarklet:hover {
	background-color: black;
	text-decoration: none;
}

#bookmarklet span {
	font-size: 10px;
	font-weight: normal;
}





fieldset.toggle legend {
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 2px;
}

.required {
	vertical-align: super;
	font-size: 9px;
	font-weight: bold;
	color: red;
}


#footer {
	margin: 10px;
	text-align: center;
	font-size: 9px;
}

.hidden {display: none;}



table {
	margin: 0;
	padding: 0;
	}
table th,
table td {
	padding: 2px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	}
table th {
	border-width: 2px;
	}
table td {
	color: #666;
	}
table tr:last-child th,
table tr:last-child td {
	border-bottom: none;
	}
table tr:nth-child(even) {
	background: #eee;
	}

.size_name {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: white;
	border: solid 1px black;
	color: black;
	font-weight: bold;
	min-width: 50px;
	padding: 5px;
	cursor: pointer;
}
.size_name:hover {
	color: white;
	background: gray;
}

