{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.min.css') }}">
{% endblock %}

{% block body %}
  <div class="box box-primary">
      <div class="box-header with-border">
          <h3 class="box-title"> {{ title }}</h3>
      </div>


  {{ form_open('admin/facebook/addDescription') }}
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
          {{ form_label('Description') }}
          {{ form_textarea({'class': 'form-control', 'name': 'description', 'id': 'mytextarea'}, set_value('description', description)) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <a href="admin/facebook/addDescription"> <button class="btn btn-primary btn-block" type="submit" value="description">Add description</button> </a>
    </div>
  </div>

  {{ form_close() }}
  <div class="row">
    <br/>
  </div>
  <div class="box box-primary">

    <div class="panel-header">
      <h5> Last added description: </h5>
    </div>
    <div class="panel-body">
       {{ description }}
    </div>

  </div>

{% endblock %}

{% block custom_javascripts %}
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.full.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/js/facebook_auto_post_helper.js') }}"></script>

    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/tinymce/tinymce.min.js') }}"></script>
    {#
    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea',
            plugins: "emoticons",
            toolbar: "emoticons"
        });
    </script>
    #}
    <script type="text/javascript">
        FAPHelper.setAutocompleteTarget('#product_autocomplete');
        FAPHelper.setUrlForAutocomplete('{{ base_url('admin/facebook/fap_find_product') }}');
        FAPHelper.init();

        $(function() {
            if($('#product-info').find('img').attr('src') === ''){
                $('#product-info').hide();
            }

            jQuery.datetimepicker.setLocale('en');
            jQuery('.datetimepicker').datetimepicker({
                format:'Y-m-d H:i:s'
            });




            $('form').submit(function(event){
//                console.log($('.datetimepicker').val());
//                console.log($('.datetimepicker').val() == "");
//                event.preventDefault();

                var product_id = $('#product_id').val();
                if(product_id === '' && product_id < 1 ){
                    alert('Please select a product');
                    event.preventDefault();
                }
                if($('.datetimepicker').val() == "") {
                    alert("Please pick a date to schedule posting.");
                    event.preventDefault();
                }
            });

            $('#myModal').on('shown.bs.modal', function (e) {
                $.ajax({
                    url: '{{ base_url('admin/facebook/manage-text/get-descriptions') }}',
                    dataType: 'json',
                    data: {
                        page_id: $('select[name="facebook_page"]').find(':selected').val(),
                    },
                    type: 'POST',
                    async: false,
                    error: function (data) {
                    },
                    success: function (data) {
                        $('#myModal').find('.modal-body').html(data.content);
                    },
                    done: function (data) {
                    },

                });
                $('#myModal').click('#save-modal', function(){
                    $("#myModal input[type='radio']:checked").each(function() {
                        var idVal = $(this).attr("id");
                        var radioSelectText = $("label[for='"+idVal+"']").text()
                        $('textarea[name="description"]').text($.trim(radioSelectText));
                    });
                });
            })


        });
    </script>
{% endblock %}
