{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
<link rel="stylesheet" href="{{ base_url('assets/admin/css/dropzone.min.css') }}">
<link rel="stylesheet" href="{{ base_url('assets/admin/css/ng-dropzone.min.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid" ng-app="albumPhotoUploadApp" ng-controller="albumPhotoUploadCtrl as $ctrl">
  <div class="row">
  	<div class="col-lg-12 col-md-12">
  		<div class="box box-primary">
  			<div class="box-header with-border">
  				<h2 class="box-title">Create Test</h2>
        </div>
  			<div class="box-body">
  				<div class="col-lg-6">
  					<div class="form-group">
  						<label for="images_input">Upload test images</label>
  						<p class="help-block">Select one or more photos for a single test</p>
              <ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-disable="uploadFactory.uploadProcessing"></ng-dropzone>
  					</div>
            <p>Available tags:<br />
  						{$price} - Price depending on page country<br />
  						{$currency} - Currency depending on page country<br />
  						{$sizes} - Available sizes<br />
  						{$Available next week} - "Available next week" depending on page language<br />
  						{$Product testing} - "Product Testing! - if this post reaches 20 people, we'll have the product next week" depending on page language<br />
  					</p>
  					<div class="form-group">
  						{{ form_label('Description') }}
              <textarea class="form-control" rows="4" ng-model="description" ng-disabled="uploadFactory.uploadProcessing"></textarea>
  					</div>
            <div class="brand-info">
              <div class="checkbox">
                <label><input type="checkbox" ng-model="isBranded">Is Branded?</label>&nbsp;&nbsp;
                <label><input type="checkbox" ng-model="overlayProductCode">Overlay Product Code</label>
                <div ng-if="isBranded">
                  <label class="radio-inline"><input type="radio" ng-model="isNewBrand" value="no">Existing Brand</label>
                  <label class="radio-inline"><input type="radio" ng-model="isNewBrand" value="yes">New Brand</label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label">Select Brand</label>
                        <select class="form-control filter-input" id="brand" ng-model="brandObj.brand">
                          <option ng-repeat="brandOption in brands" value="[[ brandOption.id ]]">[[ brandOption.name ]]</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12" ng-if="isNewBrand=='yes'">
                      <div class="form-group">
                        <label class="control-label" for="full_name">Full Name</label>
                        <input type="text" class="form-control" ng-model="brandObj.fullName" id="full_name" placeholder="Insert Full Name"/>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="short_name">Short Name</label>
                        <input type="text" class="form-control" ng-model="brandObj.shortName" id="short_name" placeholder="Insert Short Name"/>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="abbreviation">Abbreviation</label>
                        <input type="text" class="form-control" ng-model="brandObj.abbreviation" id="abbreviation" placeholder="Insert Abbreviation"/>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="brand_image">Image</label>
                        <input type="file" nv-file-select="" uploader="brandImageUploader" />
                      </div>
                      <button class="btn btn-success" ng-click="saveBrand()">Save New Brand</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <fieldset id="pages_array">
            <div class="form-group col-lg-12 albumCategories">
              <p>
                <a href="javascript:;"><strong>Album Categories</strong></a>
              </p>
              <div class="row">
                <div class="col-md-3" ng-repeat="albumCategory in albumCategories">
                  <input type="checkbox" checklist-model="selectedAlbumCategories" checklist-value="albumCategory.id" ng-disabled="uploadFactory.uploadProcessing"> [[ albumCategory.name ]]
                </div>
              </div>
              <hr/>
            </div>
            <div class="form-group col-lg-12 filters">
              <p>
                <a href="javascript:;"><strong>Filters</strong></a>
              </p>
              <div class="row">
                <div class="col-md-12">
                  <a href="javascript:;">Genders</a>
                </div>
                <div class="col-md-3" ng-repeat="gender in genders">
                  <input type="checkbox" checklist-model="filters.genders" checklist-value="gender.value" checklist-change="updateFilters()" ng-disabled="uploadFactory.uploadProcessing"> [[ gender.name ]]
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-12">
                  <a href="javascript:;">Countries</a>
                </div>
                <div class="col-md-12">
                  <input type="checkbox" ng-model="allCountries" ng-change="selectAllCountries()" ng-disabled="uploadFactory.uploadProcessing"> Select All Countries
                </div>
                <div class="col-md-3" ng-repeat="country in countries">
                  <input type="checkbox" checklist-model="filters.countries" checklist-value="country" checklist-change="updateFilters()" ng-disabled="uploadFactory.uploadProcessing">
                  <span ng-if="country">[[ country ]]</span>
                  <span ng-if="!country">Unspecified</span>
                </div>
              </div>
            </div>
            <hr/>
  					<div class="form-group col-lg-6">
              <p>
                <a href="javascript:;"><strong>Female</strong></a>
              </p>
              <hr/>
              <div ng-repeat="(country, items) in pages.F">
                <a href="javascript:;">
                  <span ng-if="country">[[ country ]]</span>
                  <span ng-if="!country">Others</span>
                </a>
                <div ng-repeat="item in items">
                  <input type="checkbox" checklist-model="selectedPages" checklist-value="item.id" checklist-change="pageChoiceChanged()" ng-disabled="uploadFactory.uploadProcessing">
                  <span ng-if="item.title">[[ item.title ]]</span>
                  <span ng-if="!item.title">[[ item.fb_title ]]</span>
                </div>
                <hr/>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <p>
                <a href="javascript:;"><strong>Male</strong></a>
              </p>
              <hr/>
              <div ng-repeat="(country, items) in pages.M">
                <a href="javascript:;">
                  <span ng-if="country">[[ country ]]</span>
                  <span ng-if="!country">Others</span>
                </a>
                <div ng-repeat="item in items">
                  <input type="checkbox" checklist-model="selectedPages" checklist-value="item.id" checklist-change="pageChoiceChanged()" ng-disabled="uploadFactory.uploadProcessing">
                  <span ng-if="item.title">[[ item.title ]]</span>
                  <span ng-if="!item.title">[[ item.fb_title ]]</span>
                </div>
                <hr/>
              </div>
              <p>
                <a href="javascript:;"><strong>Neutral</strong></a>
              </p>
              <hr/>
              <div ng-repeat="(country, items) in pages.N">
                <a href="javascript:;">
                  <span ng-if="country">[[ country ]]</span>
                  <span ng-if="!country">Others</span>
                </a>
                <div ng-repeat="item in items">
                  <input type="checkbox" checklist-model="selectedPages" checklist-value="item.id" ng-disabled="uploadFactory.uploadProcessing">
                  <span ng-if="item.title">[[ item.title ]]</span>
                  <span ng-if="!item.title">[[ item.fb_title ]]</span>
                </div>
                <hr/>
              </div>
            </div>
            <div class="form-group col-lg-6">

            </div>
          </fieldset>
        </div>
        <div class="box-footer">
  				<button class="btn btn-primary" ng-click="submitPhotos()" ng-disabled="uploadFactory.uploadProcessing">Upload</button>
  			</div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="processing.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Upload Progress</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <div ng-if="$ctrl.uploadFactory.uploadProcessing">
        <strong>Uploading</strong>
      </div>
      <div ng-if="!$ctrl.uploadFactory.uploadProcessing">
        <strong>Uploaded</strong>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.completed()" ng-disabled="$ctrl.uploadFactory.uploadProcessing">OK</button>
    </div>
  </script>
</div>
{% endblock %}
{% block custom_javascripts %}
<script src="{{ base_url('assets/admin/js/ui-bootstrap-tpls.min.js') }}"></script>
<script src="{{ base_url('assets/admin/js/dropzone.min.js') }}"></script>
<script src="{{ base_url('assets/admin/js/ng-dropzone.min.js') }}"></script>
<script src="{{ base_url('assets/admin/js/angular-file-upload.js') }}"></script>
<script src="{{ base_url('assets/admin/js/checklist-model.js') }}"></script>
<script src="{{ base_url('assets/admin/js/albumPhotoUploadApp.js') }}"></script>
<script src="{{ base_url('assets/admin/js/factories/albumPhotoUploadFactory.js') }}"></script>
<script src="{{ base_url('assets/admin/js/services/albumPhotoUploadService.js') }}"></script>
<script src="{{ base_url('assets/admin/js/controllers/processingModalInstanceCtrl.js') }}"></script>
<script src="{{ base_url('assets/admin/js/controllers/albumPhotoUploadCtrl.js') }}"></script>
{% endblock %}
