{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.min.css') }}">
{% endblock %}

{% block body %}
  <div class="box box-primary">
      <div class="box-header with-border">
          <h3 class="box-title"> {{ title }}</h3>
      </div>
      {{ form_open('admin/facebook/auto_fap', 'id="sel_product_serie"') }}
        <div class="row">
          <div class="col-lg-2 col-lg-push-3">
              <div class="form-group">
                  {{ form_label('Filter Product series:') }}
                  {# Dropdown to filter the products list#}
                  <select id="product-serie" class="form-control" name="sel_serie">
                      {% for key, serie in products_series %}
                          <option value="{{ key }}" data-country="{{ page.country }}"> {{ serie }} </option>
                      {% endfor %}
                  </select>
                  {% for key, serie in products_series %}
                      <input type="hidden" name="products_ser[]" value="{{ serie }}">
                  {% endfor %}
              </div>
          </div>
        </div>
      {{ form_close() }}
      {{ form_open('admin/facebook/auto_fap', 'id="main_Form"') }}
      <div class="box-body">
        {% if validation_errors | length %}
            <div class="alert alert-danger">
                {{ validation_errors | raw }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group" style="height: 300px">
                    {{ form_label('Facebook pages:') }}
                    <select class="form-control" name="sel_fb_pages[]" multiple="multiple" style="height: 100%">
                        {% for key, page in fb_pages_list %}
                            <option value="{{ key }}" data-country="{{ page.country }}"> {{ page }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" style="height: 300px">
                  {{ form_label('code | Total | XS | S | M | L | XL | XXL | XXXL | name ') }}
                  <select id="sel_products" name="sel_products[]" class="form-control" multiple="multiple" style="height: 100%">
                  </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" style="height: 300px">
                    {{ form_label('<a target="_blank" href="addDescription"> Descriptions: (click to add/edit/remove) </a>') }}
                    <select class="form-control" name="sel_descriptions[]" multiple="multiple" style="height: 100%">
                        {% for key, description in description_list %}
                            <option value="{{ key }}" data-country="{{ page.country }}" > {{ description }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-2" style="height: 80px">
                <div class="form-group">
                    {{ form_label('Date: (When to be published)') }}
                    {{ form_input({'class': 'form-control datetimepicker', 'name': 'startdatetime' }, set_value('date_schedule', date_schedule)) }}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group" style="height: 220px">
                    {{ form_label('Time interval between posts:') }}
                    <select class="form-control" name="timeinterval" multiple="multiple" style="height: 100%">
                        {% for key, time in time_interval_list %}
                            <option value="{{ key }}" data-country="{{ page.country }}" >{{ time }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
      </div>

    <div class="box-footer">
        <button class="btn btn-primary btn-block" type="submit" value="gen_posts">Generate posts</button>
    </div>
    {{ form_close() }}
  </div>


{% endblock %}

{% block custom_javascripts %}
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.full.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/js/facebook_auto_post_helper.js') }}"></script>

    <script type="text/javascript"> //Block by Georgi for dynamic forms
    var brand_filter = '';

  //FILTERS ASSIGNED PRODUCTS BY BRAND
      //$('#br_submit').on('click', function() {
      $('#br_selector').change(function() {
        brand_filter = $('#br_selector').val();
          //console.log('Brand filter: ' + brand_filter);
        if ($.trim(brand_filter) != '') {
          $.post('{{ base_url('admin/facebook/fap_sql_requests_st') }}', {brand_filter: brand_filter}, function(data) {
              //$('#name-data').text(data);
        	  var obj = $.parseJSON(data);
              console.log(obj);
            //var tmpArray = [];
            $("#sel-prod").empty();
            $.each(obj, function(i, item) {
              $("#sel-prod").append(
                "<option value=" + item.products_id +">" +
                 item.code +  " | " +
                 item.total + " | " +
                 item.xs + " | " +
                 item.s + " | " +
                 item.m + " | " +
                 item.l + " | " +
                 item.xl + " | " +
                 item.xxl + " | " +
                 item.xxxl + " | " +
                 item.product_name + " | " +
                 item.daysActive +
                 "</option>");
            });
          });

        }
      });

  //FILTERS ALL PRODUCTS BY SERIE
      $('#product-serie').change(function() {
        var product_serie = $('#product-serie').val();
        //console.log(product_serie);
        if ($.trim(product_serie) != '') {
          $.post('{{ base_url('admin/facebook/fap_sql_requests_st') }}',
           {product_serie: product_serie},
           function(data) {
            //$('#test').text(data);
            var obj = $.parseJSON(data);
            $("#sel_products").empty();
              //console.log(obj);
            $.each(obj, function(i, item) {
              $("#sel_products").append(
                "<option value=" + item.id +">" +
                 item.code +  " | " +
                 item.total + " | " +
                 item.xs + " | " +
                 item.s + " | " +
                 item.m + " | " +
                 item.l + " | " +
                 item.xl + " | " +
                 item.xxl + " | " +
                 item.xxxl + " | " +
                 item.product_name +
                 "</option>");
            });
          });
        }
      });

  //ADDS PRODUCTS TO BRAND
      $('#pr_add').on('click', function(){
        var pr_table = "brand_products_relations";
          //var brand_id = $('#sel-prod').val();
        var product_id = [];
        $('#sel_products :selected').each(function(i, selected){
          console.log($(selected));
          //product_id[i] = $(selected).text();
          product_id[i] = $(selected).val();
          console.log(product_id[i]);
        });
          //console.log('Brand id: ' + brand_filter);
          //console.log(product_id);
        if ($.trim(brand_filter) != '') {
          $.post('{{ base_url('admin/facebook/jquery_insert') }}',
           {table: pr_table, brand_filter: brand_filter, products: product_id},
           function(data) {
            $('#br_selector').trigger('change');
          });
        }
      });

  //REMOVES PRODUCTS FROM BRAND
      $('#pr_remove').on('click', function(){
        var pr_table = "brand_products_relations";
          //var brand_id = $('#sel-prod').val();
        var product_id = [];
        $('#sel-prod :selected').each(function(i, selected){
          //console.log($(selected));
          //product_id[i] = $(selected).text();
          product_id[i] = $(selected).val();
          //console.log($(product_id[i]));
        });
          //console.log('Brand id: ' + brand_filter);
          //console.log(product_id);

        if ($.trim(brand_filter) != '') {
          $.post('{{ base_url('admin/facebook/jquery_update') }}',
           {table: pr_table, brand_filter: brand_filter, products: product_id},
           function(data) {
            //console.log(data);
            //$('#test').text(data);
            //$('#test').text("</br>");
            $('#br_selector').trigger('change');
          });
        }

      });

    </script>

    <script type="text/javascript">
        FAPHelper.setAutocompleteTarget('#product_autocomplete');
        FAPHelper.setUrlForAutocomplete('{{ base_url('admin/facebook/fap_find_product') }}');
        FAPHelper.init();

        $(function() {
            if($('#product-info').find('img').attr('src') === ''){
                $('#product-info').hide();
            }

            jQuery.datetimepicker.setLocale('en');
            jQuery('.datetimepicker').datetimepicker({
                format:'Y-m-d H:i:s',
                allowTimes:[
                  '07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00',
                  '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30',
                  '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00',
                  '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30',
                  '21:00', '21:30', '22:00', '22:30', '23:00', '23:30', '00:00'
                ]
            });

            $('#main_Form').submit(function(event){
//                console.log($('.datetimepicker').val());
//                console.log($('.datetimepicker').val() == "");
//                event.preventDefault();

                var product_id = $('#product_id').val();
                if(product_id === '' && product_id < 1 ){
                    alert('Please select a product');
                    event.preventDefault();
                }
                if($('.datetimepicker').val() == "") {
                    alert("Please pick a date to schedule posting.");
                    event.preventDefault();
                }
            });

            $('#myModal').on('shown.bs.modal', function (e) {
                $.ajax({
                    url: '{{ base_url('admin/facebook/manage-text/get-descriptions') }}',
                    dataType: 'json',
                    data: {
                        page_id: $('select[name="facebook_page"]').find(':selected').val(),
                    },
                    type: 'POST',
                    async: false,
                    error: function (data) {
                    },
                    success: function (data) {
                        $('#myModal').find('.modal-body').html(data.content);
                    },
                    done: function (data) {
                    },

                });
                $('#myModal').click('#save-modal', function(){
                    $("#myModal input[type='radio']:checked").each(function() {
                        var idVal = $(this).attr("id");
                        var radioSelectText = $("label[for='"+idVal+"']").text()
                        $('textarea[name="description"]').text($.trim(radioSelectText));
                    });
                });
            })


        });
    </script>
{% endblock %}
