{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h2 class="box-title">Create Test</h2>
				<button class="btn btn-primary" style="float: right" type="submit" onclick="window.location='/admin/facebook/listtest';" >List</button>
			</div>
			{{ form_open_multipart() }}
				<div class="box-body">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="images_input">Upload test images</label>
							<input type="file" name="userfile[]" id="imgInp" multiple="">
							<table id="previewTable">
								<thead id="columns"></thead>
								<tbody id="previews"></tbody>
							</table>
							<img id="previewImage" src="#" alt="" width="150px" />
							<p class="help-block">Select one or more photos for a single test</p>
						</div>
						<p>Create Code(if no picture contains it!)
						{% for ser in series %}
							<a href="#" id="{{ ser.series }}{{ ser.next }}" class="code-label">{{ ser.series }}</a>
						{% endfor %}</p>
						<label>Code: &nbsp;</label><input type="text" val="" id="NewCode" disabled/>
						<p>Available tags:<br />
							{$price} - Price depending on page country<br />
							{$currency} - Currency depending on page country<br />
							{$sizes} - Available sizes<br />
							{$Available next week} - "Available next week" depending on page language<br />
							{$Product testing} - "Product Testing! - if this post reaches 20 people, we'll have the product next week" depending on page language<br />
						</p>
						<div class="form-group">
							{{ form_label('Description') }}
							{{ form_textarea({'class': 'form-control', 'name': 'description', 'value': '😇{$price}{$currency} 
👉{$sizes}
⭐{$Product testing}'}) }}
						</div>
					</div>
					<fieldset id="pages_array">
						<div class="form-group col-lg-6">
							<p><a href="#" id="btnFemaleGreek">Female Greek</a></p>
							{% for fgr in pages_fgr %}
								<input type="checkbox" name="pages[]" value="{{ fgr.id }}" id="p{{ fgr.id }}"> {{ fgr.title }}<br />
							{% endfor %}
							<hr />
							<p><a href="#" id="btnFemaleRomanian">Female Romanian</a></p>
							{% for fro in pages_fro %}
								<input type="checkbox" name="pages[]" value="{{ fro.id }}" id="p{{ fro.id }}"> {{ fro.title }}<br />
							{% endfor %}
							<hr />
							<p>Female Bulgarian</p>
							{% for fbg in pages_fbg %}
								<input type="checkbox" name="pages[]" value="{{ fbg.id }}" id="p{{ fbg.id }}"> {{ fbg.title }}<br />
							{% endfor %}
							<hr />
							<p><a href="#" id="btnOther">Female Other</a></p>
							{% for other in pages_other %}
								<input type="checkbox" name="pages[]" value="{{ other.id }}" id="p{{ other.id }}"> {{ other.title }}<br />
							{% endfor %}
							<hr />
						</div>
						<div class="form-group col-lg-6">
							<p><a href="#" id="btnNeutral">Neutral</a></p>
							{% for np in pages_n %}
								<input type="checkbox" name="pages[]" value="{{ np.id }}" id="p{{ np.id }}"> {{ np.title }}<br />
							{% endfor %}
							<hr />
							<p><a href="#" id="btnMale">Male</a></p>
							{% for mp in pages_m %}
								<input type="checkbox" name="pages[]" value="{{ mp.id }}" id="p{{ mp.id }}"> {{ mp.title }}<br />
							{% endfor %}
						<br /><hr /><br />
						</div>
						<div class="form-group col-lg-6">
							<a href="#" id="btnAll">All</a><br />
							<a href="#" id="btnFemale">All Female</a><br />
							<a href="#" id="btnRomanian">All Romanian</a><br />
							<a href="#" id="btnGreek">All Greek</a><br />
							<a href="#" id="btnBulgarian">All Bulgarian</a><br />
						</div>
					</fieldset>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Create</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/admin/js/products_helper.js') }}"></script>
	<script>
		$(document).ready(function(){
			var allclicked = false;
			var fgrclicked = false;
			var froclicked = false;
			var fotherclicked = false;
			var mclicked = false;
			var fclicked = false;
			var nclicked = false;
			var roclicked = false;
			var grclicked = false;
			var bgclicked = false;
			var otherclicked = false;
			$("#btnAll").on("click", function(){
				{% for page in facebook_pages %}
					$("#p{{ page.id }}").prop("checked", !allclicked);
				{% endfor %}
				allclicked = !allclicked;
			});
			$("#btnFemaleGreek").on("click", function(){
				{% for fgr in pages_fgr %}
					$("#p{{ fgr.id }}").prop("checked", !fgrclicked);
				{% endfor %}
				fgrclicked = !fgrclicked;
			});
			$("#btnFemaleRomanian").on("click", function(){
				{% for fro in pages_fro %}
					$("#p{{ fro.id }}").prop("checked", !froclicked);
				{% endfor %}
				froclicked = !froclicked;
			});
			$("#btnMale").on("click", function(){
				{% for mp in pages_m %}
					$("#p{{ mp.id }}").prop("checked", !mclicked);
				{% endfor %}
				mclicked = !mclicked;
			});
			$("#btnFemale").on("click", function(){
				{% for fp in pages_f %}
					$("#p{{ fp.id }}").prop("checked", !fclicked);
				{% endfor %}
				fclicked = !fclicked;
			});
			$("#btnNeutral").on("click", function(){
				{% for np in pages_n %}
					$("#p{{ np.id }}").prop("checked", !nclicked);
				{% endfor %}
				nclicked = !nclicked;
			});
			$("#btnRomanian").on("click", function(){
				{% for ro in pages_ro %}
					$("#p{{ ro.id }}").prop("checked", !roclicked);
				{% endfor %}
				roclicked = !roclicked;
			});
			$("#btnGreek").on("click", function(){
				{% for gr in pages_gr %}
					$("#p{{ gr.id }}").prop("checked", !grclicked);
				{% endfor %}
				grclicked = !grclicked;
			});
			$("#btnBulgarian").on("click", function(){
				{% for bg in pages_bg %}
					$("#p{{ bg.id }}").prop("checked", !bgclicked);
				{% endfor %}
				bgclicked = !bgclicked;
			});
			$("#btnOther").on("click", function(){
				{% for other in pages_other %}
					$("#p{{ other.id }}").prop("checked", !otherclicked);
				{% endfor %}
				otherclicked = !otherclicked;
			});
		});

		$('.code-label').click(function(e){
			$('#NewCode').val(this.id);
		});
	</script>
{% endblock %}