{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Statistics' %}

{% block table_body %}
	<div class="box-header with-border">
		<button class="btn btn-primary" style="float: left" type="submit" onclick="window.location='/admin/facebook/createtest';">New</button>
	</div>
	<div class="box-header with-border">
		{{ pagination | raw }}
	</div>
	{% set rown = '1' %}
	<table class="table">
		<th>Test<br/>ID</th>
		<th>Options</th>
		<th>Images</th>
		<th>Page</th>
		<th>Description</th>
		<th>Status</th>
		<th>5-10<br />mins</th>
		<th>Deleted</th>
		<th>1h</th>
		<th>6h</th>
		<th>24h</th>
	{% for test in tests %}
	<tr style="background-color: #d9d9d9">
		<td>{{ test.test_id }}</td>
		<td>
			<button onclick="ConfirmDialog('You will delete the whole test.<br />Are you sure you want to do that?', '0', '{{ test.test_id }}')">Delete</button><br />
			<button onclick="AddProduct('{{ test.test_id }}')">Add it</button>
		</td>
		<td>
			<a href="{{ base_url('uploads/tests') }}/{{ (( test.posts | first ).images | first ).file_name }}{{ (( test.posts | first ).images | first ).file_ext }}" class="preview" download>
				<img height="80px" src="{{ base_url('uploads/tests') }}/{{ (( test.posts | first ).images | first ).file_name }}{{ (( test.posts | first ).images | first ).file_ext }}" />
			</a>
		</td>
		<td>
			<button id="{{ test.test_id }}_showhide">Show / Hide</button>
		</td>
		<td>
			{{ (test.posts | first).description | nl2br }}
		</td>
		<td>
			Pending: {{ test.status_pending }}<br />
			Up: {{ test.status_up }}<br />
			Deleted: {{ test.status_deleted }}
		</td>
		<td>
			C: 
			{% if (test.coeff_initial|round(3, 'ceil')) > 0.01 %}
				<span style="color:#008000; font-weight: bold;">{{ test.coeff_initial|round(3, 'ceil') }}</span>
			{% else %}
				<span style="color:red; font-weight: bold;">{{ test.coeff_initial|round(3, 'ceil') }}</span>
			{% endif %}
			<br />
			I: {{ test.impressions_initial }}<br />
			R: {{ test.reactions_initial }}<br />
			C: {{ test.comments_initial }}
		</td>
		<td>
			C: 
			{% if (test.coeff_deleted|round(3, 'ceil')) > 0.01 %}
				<span style="color:#008000; font-weight: bold;">{{ test.coeff_deleted|round(3, 'ceil') }}</span>
			{% else %}
				<span style="color:red; font-weight: bold;">{{ test.coeff_deleted|round(3, 'ceil') }}</span>
			{% endif %}
			<br />
			I: {{ test.impressions_deleted }}<br />
			R: {{ test.reactions_deleted }}<br />
			C: {{ test.comments_deleted }}
		</td>
		<td>
			C: 
			{% if (test.coeff_1|round(3, 'ceil')) > 0.01 %}
				<span style="color:#008000; font-weight: bold;">{{ test.coeff_1|round(3, 'ceil') }}</span>
			{% else %}
				<span style="color:red; font-weight: bold;">{{ test.coeff_1|round(3, 'ceil') }}</span>
			{% endif %}
			<br />
			I: {{ test.impressions_1 }}<br />
			R: {{ test.reactions_1 }}<br />
			C: {{ test.comments_1 }}
		</td>
		<td>
			C: 
			{% if (test.coeff_2|round(3, 'ceil')) > 0.01 %}
				<span style="color:#008000; font-weight: bold;">{{ test.coeff_2|round(3, 'ceil') }}</span>
			{% else %}
				<span style="color:red; font-weight: bold;">{{ test.coeff_2|round(3, 'ceil') }}</span>
			{% endif %}
			<br />
			I: {{ test.impressions_2 }}<br />
			R: {{ test.reactions_2 }}<br />
			C: {{ test.comments_2 }}
		</td>
		<td>
			C: 
			{% if (test.coeff_3|round(3, 'ceil')) > 0.01 %}
				<span style="color:#008000; font-weight: bold;">{{ test.coeff_3|round(3, 'ceil') }}</span>
			{% else %}
				<span style="color:red; font-weight: bold;">{{ test.coeff_3|round(3, 'ceil') }}</span>
			{% endif %}
			<br />
			I: {{ test.impressions_3 }}<br />
			R: {{ test.reactions_3 }}<br />
			C: {{ test.comments_3 }}
		</td>
	</tr>
	{% for post in test.posts %}
		{% if post.status == 3 %}
		<tr id="{{ post.post_id }}_p" style="display:none; background-color: #ffe6e6;">
		{% else %}
		<tr id="{{ post.post_id }}_p" style="display:none;">
		{% endif %}
			<td></td>
			<td>
				{% if post.status < 2 %}
					<a href="{{ (base_url('admin/facebook/deleteTestPostManually/') ~ '/' ~ post.post_id) }}">Delete</a>
				{% endif %}
			</td>
			<td>
			{% for image in post.images %}
			<a href="{{ base_url('uploads/tests') }}/{{ image.file_name }}{{ image.file_ext }}" class="preview" download>
				<img height="80px" src="{{ base_url('uploads/tests') }}/{{ image.file_name }}{{ image.file_ext }}" />
			</a>
			{% endfor %}
			</td>
			<td>{{ post.title }} {% if post.status == 1 %}
				<br />
				(<a href="https://business.facebook.com/{{ post.fb_post_id }}" target="_blank">link</a>)
				{% endif %}</td>
			<td>{{ post.description | nl2br }}</td>
			<td>
			{% if post.status == 0 %}
				Pending...
			{% elseif post.status == 1 %}
				Up<br />{{ post.date_uploaded }}
			{% elseif post.status == 2 %}
				Deleting...<br />
			{% elseif post.status == 3 %}
				Deleted<br />{{ post.date_deleted }}
			{% endif %}
				<br />Next Update in:<br />
				{% if post.update > 0 %}
					{{ post.update }}
				{% endif %}
			</td>
			<td>
				C: 
			{% if post.impressions_initial > 0 %}
				{% if (( post.reactions_initial / post.impressions_initial)|round(3, 'ceil')) > 0.01 %}
					<span style="color:#008000; font-weight: bold;">{{ ( post.reactions_initial / post.impressions_initial)|round(3, 'ceil') }}</span>
				{% else %}
					<span style="color:red; font-weight: bold;">{{ ( post.reactions_initial / post.impressions_initial)|round(3, 'ceil') }}</span>
				{% endif %}
			{% endif %}<br />
				I: {{ post.impressions_initial }}<br />
				R: {{ post.reactions_initial }}<br />
				C: {{ post.comments_initial }}
			</td>
			<td>
				C: 
			{% if post.impressions_deleted > 0 %}
				{% if (( post.reactions_deleted / post.impressions_deleted)|round(3, 'ceil')) > 0.01 %}
					<span style="color:#008000; font-weight: bold;">{{ ( post.reactions_deleted / post.impressions_deleted)|round(3, 'ceil') }}</span>
				{% else %}
					<span style="color:red; font-weight: bold;">{{ ( post.reactions_deleted / post.impressions_deleted)|round(3, 'ceil') }}</span>
				{% endif %}
			{% endif %}<br />
				I: {{ post.impressions_deleted }}<br />
				R: {{ post.reactions_deleted }}<br />
				C: {{ post.comments_deleted }}
			</td>
			<td>
				C: 
			{% if post.impressions_1 > 0 %}
				{% if (( post.reactions_1 / post.impressions_1)|round(3, 'ceil')) > 0.01 %}
					<span style="color:#008000; font-weight: bold;">{{ ( post.reactions_1 / post.impressions_1)|round(3, 'ceil') }}</span>
				{% else %}
					<span style="color:red; font-weight: bold;">{{ ( post.reactions_1 / post.impressions_1)|round(3, 'ceil') }}</span>
				{% endif %}
			{% endif %}<br />
				I: {{ post.impressions_1 }}<br />
				R: {{ post.reactions_1 }}<br />
				C: {{ post.comments_1 }}
			</td>
			<td>
				C: 
			{% if post.impressions_2 > 0 %}
				{% if (( post.reactions_2 / post.impressions_2)|round(3, 'ceil')) > 0.01 %}
					<span style="color:#008000; font-weight: bold;">{{ ( post.reactions_2 / post.impressions_2)|round(3, 'ceil') }}</span>
				{% else %}
					<span style="color:red; font-weight: bold;">{{ ( post.reactions_2 / post.impressions_2)|round(3, 'ceil') }}</span>
				{% endif %}
			{% endif %}<br />
				I: {{ post.impressions_2 }}<br />
				R: {{ post.reactions_2 }}<br />
				C: {{ post.comments_2 }}
			</td>
			<td>
				C: 
			{% if post.impressions_3 > 0 %}
				{% if (( post.reactions_3 / post.impressions_3)|round(3, 'ceil')) > 0.01 %}
					<span style="color:#008000; font-weight: bold;">{{ ( post.reactions_3 / post.impressions_3)|round(3, 'ceil') }}</span>
				{% else %}
					<span style="color:red; font-weight: bold;">{{ ( post.reactions_3 / post.impressions_3)|round(3, 'ceil') }}</span>
				{% endif %}
			{% endif %}<br />
				I: {{ post.impressions_3 }}<br />
				R: {{ post.reactions_3 }}<br />
				C: {{ post.comments_3 }}
			</td>
		</tr>
	{% endfor %}
	
	{% endfor %}
	</table>
{% endblock %}

{% block table_footer %}
	{{ pagination | raw }}
{% endblock %}

{% block custom_javascripts %}
	<style>
		img{border:none;}
		#preview{
			position:absolute;
			border:1px solid #ccc;
			background:#333;
			padding:5px;
			display:none;
			color:#fff;
		}
	</style>
	<script type="text/javascript">
		
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		this.imagePreview = function () {
			/* CONFIG */

			xOffset = 10;
			yOffset = 30;

			// these 2 variable determine popup's distance from the cursor
			// you might want to adjust to get the right result

			/* END CONFIG */
			$("a.preview").hover(function (e) {
				this.t = this.title;
				this.title = "";
				var c = (this.t != "") ? "<br/>" + this.t : "";
				$("body").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' width='450px'  />" + c + "</p>");
				$("#preview")
						.css("top", (e.pageY - xOffset) + "px")
						.css("left", (e.pageX + yOffset) + "px")
						.fadeIn("fast");
			},
					function () {
						this.title = this.t;
						$("#preview").remove();
					});
			$("a.preview").mousemove(function (e) {
				$("#preview")
						.css("top", (e.pageY - xOffset) + "px")
						.css("left", (e.pageX + yOffset) + "px");
			});
		};

		$(document).ready(function () {
			imagePreview();
			
			{% for test in tests %}
				var clicked_{{ test.test_id }} = false;
				$("#{{ test.test_id }}_showhide").click(function(){
					if(clicked_{{ test.test_id }}){
						{% for post in test.posts %}
							$("#{{ post.post_id }}_p").hide();
						{% endfor %}
					}else{
						{% for post in test.posts %}
							$("#{{ post.post_id }}_p").show();
						{% endfor %}
					}
					clicked_{{ test.test_id }} = !clicked_{{ test.test_id }};
				});
			{% endfor %}
		});
		function ConfirmDialog(message, type, test_id){
			var loc = "{{ base_url('admin/facebook/deleteTestManually/') }}" + '/' + test_id;
			$('<div></div>').appendTo('body')
							.html('<div><h6>'+message+'?</h6></div>')
							.dialog({
								modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
								width: '250px', resizable: false,
								buttons: {
									Yes: function () {
										window.location.href = loc;
										$(this).dialog("close");
									},
									No: function () {									
										$(this).dialog("close");
									}
								},
								close: function (event, ui) {
									$(this).remove();
								}
							});
			};
		function AddProduct(test_id){
			//redirect to product create
			console.log('echo');
			$(location).attr('href', '{{ base_url('admin/facebook/createProductFromTest/') }}' + '/' + test_id);
			//with proper object parameters
		}
	</script>
{% endblock %}