{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = title %}
{% set LIST_COLUMNS = ['ID', 'Page title', 'Product code', 'Image', 'Description','Scheduled at', 'Uploaded'] %}

{% block table_body %}
    <tr>
      <p>
        <a href="{{ site_url('admin/facebook/fap/create') }}" type="button" class="btn btn-primary">Create post</a>
        <a href="{{ site_url('admin/facebook/auto_fap') }}" type="button" class="btn btn-primary">FAP by total</a>
        <a href="{{ site_url('admin/facebook/auto_fap_st') }}" type="button" class="btn btn-primary">FAP by code</a>
      </p>
    {{ form_open('admin/facebook/fap', 'id="filter_fb_page"') }}
      <div class="form-group col-lg-2">
          {{ form_label('Filter Facebook page:') }}
          {# Dropdown to filter the posts from specific page #}
          <select class="form-control" name="fb_page_filter">
              {% for key, page in fb_pages_list %}
                  <option value="{{ key }}" data-country="{{ page.country }}"> {{ page }} </option>
              {% endfor %}
          </select>
          <button class="btn btn-primary btn-block" type="submit" value="filter_fb_page">Filter page</button>
      </div>
    {{ form_close() }}
    <div class="form-group col-lg-2">
      {{ form_label(' ') }}

    </div>
    </tr>
    {% for post in facebook_posts %}
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.page_title }}</td>
          <td>{{ post.code }}</td>
          <td> <img src="{{base_url('uploads')}}/{{ post.code }}/{{ post.filename }}.JPG" alt="Product image" style="height:180px;"></td>
          <td>{{ post.description }}</td>
          <td>{{ post.date_schedule }}</td>
          <td>{% if post.is_uploaded %} <span class="text-success">YES</span> {% else %} <span class="text-danger">NO</span> {% endif %}</td>
          <td>
                {# {{ crud_action('admin/facebook/manage', post.id, 'Manage record', 'btn btn-info btn-xs') }} #}
                {# {{ crud_action('admin/facebook/manage-text', post.id, 'Manage descriptions', 'btn btn-default btn-xs') }} #}
                {{ crud_action('admin/facebook/fap/edit', post.id, 'Edit record', 'btn btn-warning btn-xs') }}
                {{ crud_action('admin/facebook/fap/delete', post.id, 'Delete record', 'btn btn-danger btn-xs') }}
          </td>
        </tr>
    {% endfor %}
{% endblock %}
