{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.min.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> {{ title }}</h3>
                </div>
                {{ form_open() }}
                <div class="box-body">
                    {% if validation_errors | length %}
                        <div class="alert alert-danger">
                            {{ validation_errors | raw }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                {{ form_label('Facebook page') }}
                                <select class="form-control" name="facebook_page">
                                    {% for page in facebook_pages%}
                                        {% if selected_facebook_page == page.id %}
                                            {% set selected = 'selected' %}
                                        {% else %}
                                            {% set selected = '' %}
                                        {% endif %}
                                        <option value="{{ page.id }}" data-country="{{ page.country }}" {{ selected }}>{{ page.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            {% if editAction is not defined %}
                                <div class="form-group">
                                    <label class="control-label required" for="product_autocomplete">Find product</label>
                                    <input type="text" id="product_autocomplete" name="find_product" class="form-control ui-autocomplete-input" autocomplete="off" />
                                    <input type="hidden" id="product_id" name="product_id" value="" />
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                {{ form_label('Date: (When to be published)') }}
                                {{ form_input({'class': 'form-control datetimepicker', 'name': 'schedule_date' }, set_value('date_schedule', date_schedule)) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_label('Description') }}
                                {{ form_textarea({'class': 'form-control', 'name': 'description'}, set_value('description', description)) }}
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Example variables: <br />
                                        <b>{$code}</b> = ms102, <br />
                                        <b>{$price}</b> = 200, <br />
                                        <b>{$currency}</b> = BGN
                                    </p>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#myModal">
                                            Choose description
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-9"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" id="product-info">
                                <label>Product info:</label>
                                <div>
                                    {% if product_image is not defined %}
                                        {% set imagePATH = '' %}
                                    {% else %}
                                        {% set imagePATH = base_url() ~ 'uploads/'~ product_id ~'/' ~ product_image.filename ~'_thumb' ~ product_image.ext %}
                                    {% endif %}
                                    <img src="{{ imagePATH }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
                {{ form_close() }}
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Description variants</h4>
                </div>
                <div class="modal-body">
                    asdasd
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-modal">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block custom_javascripts %}
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-datetimepicker/build/jquery.datetimepicker.full.js') }}"></script>
    <script type="text/javascript" src="{{ base_url('assets/admin/js/facebook_auto_post_helper.js') }}"></script>
    <script type="text/javascript">
        FAPHelper.setAutocompleteTarget('#product_autocomplete');
        FAPHelper.setUrlForAutocomplete('{{ base_url('admin/facebook/fap_find_product') }}');
        FAPHelper.init();

        $(function() {
            if($('#product-info').find('img').attr('src') === ''){
                $('#product-info').hide();
            }

            jQuery.datetimepicker.setLocale('en');
            jQuery('.datetimepicker').datetimepicker({
                format:'Y-m-d H:i:s'
            });




            $('form').submit(function(event){
//                console.log($('.datetimepicker').val());
//                console.log($('.datetimepicker').val() == "");
//                event.preventDefault();

                var product_id = $('#product_id').val();
                if(product_id === '' && product_id < 1 ){
                    alert('Please select a product');
                    event.preventDefault();
                }
                if($('.datetimepicker').val() == "") {
                    alert("Please pick a date to schedule posting.");
                    event.preventDefault();
                }
            });

            $('#myModal').on('shown.bs.modal', function (e) {
                $.ajax({
                    url: '{{ base_url('admin/facebook/manage-text/get-descriptions') }}',
                    dataType: 'json',
                    data: {
                        page_id: $('select[name="facebook_page"]').find(':selected').val(),
                    },
                    type: 'POST',
                    async: false,
                    error: function (data) {
                    },
                    success: function (data) {
                        $('#myModal').find('.modal-body').html(data.content);
                    },
                    done: function (data) {
                    },

                });
                $('#myModal').click('#save-modal', function(){
                    $("#myModal input[type='radio']:checked").each(function() {
                        var idVal = $(this).attr("id");
                        var radioSelectText = $("label[for='"+idVal+"']").text()
                        $('textarea[name="description"]').text($.trim(radioSelectText));
                    });
                });
            })


        });
    </script>
{% endblock %}