{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = title %}
{% set LIST_COLUMNS = ['ID', 'Title', 'Country', 'Albums', ''] %}

{% block table_body %}
{% for facebook in facebook_pages %}
	<tr class="page-tr">
		<td>{{ facebook.id }}</td>
		<td data-id="{{ facebook.id }}">
			<span class="page-title">{{ facebook.title }}</span>&nbsp;
			<a href="{{ facebook.url }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
		</td>
		<td data-id="{{ facebook.id }}">
			<span class="page-country" onclick="pageCountryIp(this)">{{ facebook.country_name }}</span>
		</td>
		<td>
			<button class="btn btn-success btn-xs show-albums" data-id="{{ facebook.id }}">Albums</button>
		</td>
		<td>
			<a class="refresh-link" onclick="refreshPage({{ facebook.id }})" href="javascript:;"><i class="fa fa-refresh" aria-hidden="true"></i></a>
			<button class="btn btn-success btn-xs" class="add-album" onclick="showAddAlbum({{ facebook.id }})">Add Album</button>
		</td>
	</tr>
{% endfor %}
{% endblock %}

{% block additional_code %}
{{ include('admin/album/formModal.twig') }}
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{{ base_url('assets/admin/css/facebook_index.css') }}">
{% endblock %}

{% block custom_javascripts %}
<script type="text/javascript" src="{{ base_url('assets/admin/js/facebook_index.js') }}"></script>
{% endblock %}
