{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Manage facebook-page access</h3>
			</div>
			{{ form_open() }}
				<div class="box-body">
					{% if validation_errors | length %}
					<div class="alert alert-danger">
						{{ validation_errors | raw }}
					</div>
					{% endif %}
					<div class="form-group">
						{% for user in users %}
							<input type="checkbox" 
								   name="users[]" value="{{user.id}}" 
								   {% if user.id in users_selected %} checked {% endif%}> 
							{{ user.username }} <br />
						{% endfor %}
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}
