{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
<link rel="stylesheet" href="{{ base_url('assets/admin/css/angular-datatables.min.css') }}">
<link rel="stylesheet" href="{{ base_url('assets/admin/css/manage-photos.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid" ng-app="managePhotosApp" ng-controller="managePhotosCtrl">
  <div class="row">
  	<div class="col-lg-12 col-md-12">
  		<div class="box box-primary">
  			<div class="box-header with-border">
  				<h2 class="box-title">Manage Photos</h2>
        </div>
  			<div class="box-body">
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="page">Page</label>
                  <select class="form-control" id="page" ng-model="page" ng-change="getAlbums()">
                    <option ng-repeat="pageOption in pageOptions" value="[[ pageOption.id ]]">[[ pageOption.title ]]</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="album">Album</label>
                  <select class="form-control filter-input" id="album" ng-model="album" ng-change="albumSelected()">
                    <option ng-repeat="albumOption in albumOptions" value="[[ albumOption.id ]]">[[ albumOption.title ]]</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="batch">Batch</label>
                  <select class="form-control filter-input" id="batch" ng-model="batch" ng-change="batchSelected()">
                    <option ng-repeat="batchOption in batchOptions" value="[[ batchOption.id ]]">[[ batchOption.title ]]</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <h2>Vehicles</h2>
      <table datatable="" dt-options="dtOptions" dt-columns="dtColumnDefs" dt-instance="dtInstance" class="table table-striped table-bordered">
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_javascripts %}
<script src="{{ base_url('assets/admin/js/angular-datatables.js') }}"></script>
<script src="{{ base_url('assets/admin/js/angular-datatables.bootstrap.min.js') }}"></script>
<script src="{{ base_url('assets/admin/js/managePhotosApp.js') }}"></script>
<script src="{{ base_url('assets/admin/js/services/managePhotosService.js') }}"></script>
<script src="{{ base_url('assets/admin/js/controllers/managePhotosCtrl.js') }}"></script>
{% endblock %}
