{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Current unseen messages by page' %}
{% block body %}
	<div class="row">
		<div class="col-lg-6">
			{{ block('table_body') }}
		</div>
	</div>
{% endblock %}

{# {% set LIST_COLUMNS = ['Page', 'Unseen Messages', 'Google Translate'] %} #}

{% block table_body %}
<div class="box box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Page</th>
						<th>Unseen Messages Count</th>
						<th>Google Translate</th>
						<th>Currency Link</th>
					</tr>
				</thead>
				<tbody>
					{% for page in pages %}
						<tr>
							<td><a href="https://business.facebook.com/{{ page.fb_id }}/messages/" target="_blank">{{ page.fb_title }}</a></td>
							<td>{{ page.unseen_message_count }}</td>
							<td><a href="{{ page.google_translate }}" target="_blank">{{ page.language }}</a></td>
							<td><a href="{{ page.currency_link }}" target="_blank">{{ page.currency_link }}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}

{% endblock %}