{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Facebook Pages Rating' %}
{% block body %}
	<div class="row">
		<div class="col-lg-6">
			{{ block('table_body') }}
		</div>
	</div>
{% endblock %}

{# {% set LIST_COLUMNS = ['Page', 'Rating'] %} #}

{% block table_body %}
<div class="box box-info">
	<div class="box-body">
		<div class="box-header with-border">
			<h2 class="box-title">Pages Rating</h2>
			<button class="btn btn-primary" style="float: right" type="submit" onclick="window.location='/admin/facebook/populaterating';">Manual Sync</button>
		</div>
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Page</th>
						<th>Rating</th>
						<th>Votes Count</th>
					</tr>
				</thead>
				<tbody>
					{% for page in pages %}
						<tr>
							<td><a href="https://business.facebook.com/{{ page.fb_id }}/messages/" target="_blank">{{ page.fb_title }}</a></td>
							<td>{{ page.fb_rating }}</td>
							<td>{{ page.fb_rating_count }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}

{% endblock %}