{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Profile links' %}

{% block table_body %}
    {% for profile in profiles %}
        <tr><td><a href="{{ profile.fb_profile }}">{{ profile.fb_profile }}</a></td></tr>
    {% endfor %}
{% endblock %}

{% block table_footer %}
{% endblock %}

{% block custom_javascripts %}
{% endblock %}