{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
  <h2>Store Your Facebook Authentication Info</h2>
  <div class="row">
    <form method="POST">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Email:</label>
          <input type="text" class="form-control" name="fb-email" placeholder="Enter Your Facebook Email" value="{{ email }}"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Password:</label>
          <input type="password" class="form-control" name="fb-password" placeholder="Enter Your Facebook Password"/>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
