{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Current unread messages by page' %}
{% set LIST_COLUMNS = ['Page', 'Unseen Messages', 'Main Agent', 'Secondary Agent','Album','Change album'] %}

{% block table_body %}

{% for page in pages %}
    <tr>
        <td><a href="https://business.facebook.com/{{ page.fb_id }}/messages/">{{ page.fb_title }}</a></td>
        <td>{{ page.unseen_message_count }}</td>
        <td>{{ page.primary }}</td>
        <td>{{ page.secondary }}</td>
        <td><a href="https://business.facebook.com/{{ page.fb_id }}/photos/?tab=album&album_id={{ page.album_id }}"><p>Click here to go to album</p></a></td>
        <td><button onclick="GetId({{ page.id }})">Change ID</button></td>
    <tr/>
{% endfor %}

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
   <script>

    function GetId(page_id) {
        var id = prompt("Please enter the Facebook album id:\n (you can get it from the URL)", "");
        console.log(page_id+id);
        if (id == null) {
            alert("Enter a valid ID.");
        }
        else {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    alert("Album ID has been updated.");
                    console.log(this.responseText);
                }
            };
        xmlhttp.open("GET", "change_album_id?page=" + page_id + "&album=" + id , true);
        xmlhttp.send();
        }
    }

    </script>

{% endblock %}