{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Manage Category</h3>
			</div>
			{{ form_open() }}
				<div class="box-body">
					{% if validation_errors | length %}
					<div class="alert alert-danger">
						{{ validation_errors | raw }}
					</div>
					{% endif %}
					<div class="form-group">
						{{ form_label('slug') }}
						{{ form_input({'class': 'form-control', 'name': 'slug', 'value': object.slug}) }}
					</div>
					<div class="form-group">
						{{ form_label('EN') }}
						{{ form_input({'class': 'form-control', 'name': 'name_en', 'value': object.name_en}) }}
					</div>
					<div class="form-group">
						{{ form_label('BG') }}
						{{ form_input({'class': 'form-control', 'name': 'name_bg', 'value': object.name_bg}) }}
					</div>
					<div class="form-group">
						{{ form_label('RO') }}
						{{ form_input({'class': 'form-control', 'name': 'name_ro', 'value': object.name_ro}) }}
					</div>
					<div class="form-group">
						{{ form_label('LE(GR)') }}
						{{ form_input({'class': 'form-control', 'name': 'name_le', 'value': object.name_le}) }}
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}
