{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Categories' %}
{% set LIST_COLUMNS = ['ID', 'slug', 'EN', 'BG', 'RO', 'LE(GR)'] %}

{% block table_body %}
	<a href="{{ site_url('admin/productcategories/create') }}" type="button" class="btn btn-primary">Create Category</a><br />
{% for category in categories %}
	<tr>
		<td>{{ category.id }}</td>
		<td>{{ category.slug }}</td>
		<td>{{ category.name_en }}</td>
		<td>{{ category.name_bg }}</td>
		<td>{{ category.name_ro }}</td>
		<td>{{ category.name_le }}</td>
		<td>
			{{ crud_action('admin/productcategories/edit', category.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/productcategories/delete', category.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}