{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-lg-6 col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h2 class="box-title">Create Voucher</h2>
				<button class="btn btn-primary" style="float: right" type="submit" onclick="window.location='/admin/vouchers/index';" >List</button>
			</div>
			{{ form_open() }}
				<div class="box-body">
					{% if validation_errors | length %}
					<div class="alert alert-danger">
						{{ validation_errors | raw }}
					</div>
					{% endif %}
					<div class="form-group">
						{{ form_label('Customer Name') }}
						{{ form_input({'class': 'form-control', 'name': 'customer_name', 'value': voucher.customer_name}) }}
					</div>
					<div class="form-group">
						{{ form_label('Customer E-mail') }}
						{{ form_input({'class': 'form-control', 'name': 'customer_email', 'value': voucher.customer_email}) }}
					</div>
					<div class="form-group">
						{{ form_label('Refered Name (gift card only)') }}
						{{ form_input({'class': 'form-control', 'name': 'refered_name', 'value': voucher.refered_name}) }}
					</div>
					<div class="form-group">
						{{ form_label('Refered E-mail (gift card only)') }}
						{{ form_input({'class': 'form-control', 'name': 'refered_email', 'value': voucher.refered_email}) }}
					</div>
					<div class="form-group">
                        {{ form_label('Facebook Page') }}
                        {{ form_dropdown({'class': 'form-control', 'name': 'page'}, pages, selected_page) }}
					</div>
					<div class="form-group">
                        {{ form_label('Discount Type and %') }}
                        {{ form_dropdown({'class': 'form-control', 'name': 'type'}, types, selected_type) }}
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Create</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}
