{% extends 'admin/layouts/crud.html.twig' %}

{% block body %}
{% set rown = '1' %}
<div class="row">

</div>

<div class="row">
	<div class="col-lg-6 col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h2 class="box-title">Vouchers List</h2>
				<button class="btn btn-primary" style="float: right" type="submit" onclick="window.location='/admin/vouchers/create';">New</button>
			</div>
			<table class="table">
				<th>Customer Name</th>
				<th>Code</th>
				<th>Type</th>
				<th>Discount</th>
				<th>Expiry Date</th>
				<th>Refered Code</th>
				<th>Used</th>
			{% for voucher in vouchers %}
				{% if rown == 1 %}
					{% set rown = '0' %}
					<tr style="background-color: #dddddd">
				{% else %}
					{% set rown = '1' %}
					<tr>
				{% endif %}
						<td>{{ voucher.name }}</td>
						<td><a href="{{ voucher.link }}">{{ voucher.code }}</a></td>
						<td>{{ voucher.type }}</td>
						<td>{{ voucher.discount }} %</td>
						<td>{{ voucher.expiry_date | date("d M Y") }}</td>
						<td><a href="{{ voucher.ref_link }}">{{ voucher.ref_code }}</a></td>
						{% if (voucher.used == 1) %}
							<td style="color: green; font-weight: bold">Used</td>
						{% else %}
							<td>{{ crud_action('admin/vouchers/usevoucher', voucher.id, 'Use', 'btn btn-warning btn-xs') }}</td>
						{% endif %}
					</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
