{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
	<style type="text/css">
		.form-group label, .form-group input[type="checkbox"] {
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Manage group</h3>
			</div>
			{{ form_open() }}
			<div class="box-body">
				<div class="form-group">
					{{ form_label('Name') }}
					{{ form_input({'class': 'form-control', 'name': 'title', 'value': object.title}) }}
				</div>
			</div>
		</div>
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Restrict access to modules</h3>
			</div>
			<div class="box-body">
				{% if permissions | length > 0 %}
					{% for data in permissions %}
						<div class="row">
						{% for controller, actions in data %}
							<div class="col-sm-4">
								<div class="box box-info">
									<div class="box-header with-border">
										<h3 class="box-title">{{ get_controller_label(controller) }}</h3>
									</div>
									<div class="box-body">
										<div class="form-group">
											{% for action in actions %}
												{% set current_value = controller | lower ~ '-' ~ action %}
												<label>
													<input type="checkbox" class="minimal" name="permissions[]" value="{{ current_value }}" {% if current_value in selected_permissions %}checked{% endif %}>
													{{ get_action_label(action, controller) }}
												</label>
												<br>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="box-footer">
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}
