{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Groups' %}
{% set LIST_COLUMNS = ['ID', 'Name', 'Actions'] %}

{% block table_body %}
{% for group in groups %}
	<tr>
		<td>{{ group.id }}</td>
		<td>{{ group.title }}</td>
		<td>
			{{ crud_action('admin/groups/edit', group.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/groups/delete', group.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}