{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Total Products Sold per Facebook Page' %}
{% set LIST_COLUMNS = ['Page', 'In Orders', 'Total Sold', 'Returned', 'Was Missing'] %}

{% block table_body %}

{% for page in pages %}
    <tr>
        <td>{{ page.title }}</td>
        <td>{{ page.in_order }}</td>
        <td>{{ page.sold }}</td>
        <td>{{ page.returned }}</td>
        <td>{{ page.missing }}</td>
    <tr/>
{% endfor %}

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}