{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Number of Orders' %}
{% set LIST_COLUMNS = ['User', 'Shipped', 'Problem', 'Returned', 'Missing Product'] %}

{% block table_body %}

	{% include 'admin/report/ordercount_index.twig' %}
{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}