{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Number of Orders' %}
{% set LIST_COLUMNS = ['User', 'Shipped', 'Problem', 'Returned', 'Missing Product'] %}

{% block table_body %}

{% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.orders_sold }}</td>
        <td>{{ user.orders_problem }}</td>
        <td>{{ user.orders_returned }}</td>
        <td>{{ user.orders_missingproduct }}</td>
    <tr/>
{% endfor %}

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}
