{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Total Products Sold per Agent' %}
{% set LIST_COLUMNS = ['User', 'Products Sold'] %}

{% block table_body %}

{% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.products_sold }}</td>
    <tr/>
{% endfor %}

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}