{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Income BG' %}

{% block body %}
	<div class="row">
		<div class="col-lg-6">
			<form method="POST" action="" class="form-inline">
				<table class="table">
					<tbody>
						<tr>
							<td class="col-md-5">
							{{ form_label('From') }}
							{{ form_input({'class': 'form-control datepicker', 'name': 'from_date', 'value': date_from }) }}
							{{ form_label('To') }}
							{{ form_input({'class': 'form-control datepicker', 'name': 'date_to', 'value': date_to }) }}
								<button type="submit" class="btn btn-default" name="submit" value="1">
									<i class="glyphicon glyphicon-filter"></i>
									Filter results
								</button> 
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			{{ block('table_body') }}
		</div>
	</div>
{% endblock %}

{% block table_body %}

{% set rown = '1' %}
<table class="table no-margin">
	<thead>
		<tr>
			<th>Income</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ revenue.sum_total }} лв.</td>
		</tr>
	</tbody>
</table>

{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}