{% extends 'admin/layouts/crud.html.twig' %}

{% block body %}
	<div class="container">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
			{{ block('store_values') }}
		</div>
		<div class="clearfix visible-lg"></div>
	</div>
{% endblock %}

{% block store_values %}
	{{ dump(values) }}
	{{ values.store_value }}
	{{ values.total_items_count }}
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}