{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Number of Orders' %}
{% set LIST_COLUMNS = ['Code', 'Total Sold', 'P. Speed (Exp.)', 'In Orders', 'Returned', 'Was Missing'] %}

{% block table_body %}

{% for product in products %}
    <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.sold }}</td>
        <td>{{ product.speed }}</td>
        <td>{{ product.in_order }}</td>
        <td>{{ product.returned }}</td>
        <td>{{ product.missing }}</td>
    <tr/>
{% endfor %}

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}
