{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Actual Profit per Agent' %}
{% set LIST_COLUMNS = ['User', 'Profit', 'More columns to be added'] %}

{% block table_body %}

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		
	</script>
{% endblock %}
