{% for wage in wages %}
    <tr>
        <td>{{ wage.username }}</td>
        <td>{{ wage.orders }}</td>
        <td>{{ wage.products_saled }}</td>
    <tr/>
{% endfor %}


{% set sum1 = 0 %}
{% for inco in incomebg %}
  {% set sum1 = sum1 + inco.incomebg %}
{% endfor %}

{% set sum2 = 0 %}
{% for inco in incomeeu %}
  {% set sum2 = sum2 + inco.incomeeu %}
{% endfor %}

{% set sum3 = 0 %}
{% for inco in incomero %}
  {% set sum3 = sum3 + inco.incomero %}
{% endfor %}

    <tr>
        <td>{{ sum1 }} BGN</td>
        <td>{{ sum2 }} EUR</td>
        <td>{{ sum3 }} LEI</td>
    <tr/>
