{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Number of Orders' %}
{% set LIST_COLUMNS = ['Page', 'Date', 'From', 'Message', 'Conversation'] %}

{% block table_body %}
	{{ form_open() }}
		<div class="form-group">
			{{ form_label('Word') }}
			{{ form_input({'class': 'form-control', 'name': 'word', 'value': word}) }}
		</div>
		<div class="box-footer">
			<button class="btn btn-primary btn-block" type="submit">Search</button>
		</div>
	{{ form_close() }}
	
	{% for chat in chats %}
		<tr>
			<td><a href="{{ chat.page_url }}" target="_blank">{{ chat.page }}</a></td>
			<td>{{ chat.created_time }}</td>
			<td>{{ chat.from_name }}</td>
			<td>{{ chat.text }}</td>
			<td><a href="{{ chat.link }}" target="_blank">{{ chat.conversation_id }}</a></td>
		</tr>
	{% endfor %}
{% endblock %}

{% block table_footer %}
	
{% endblock %}