{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Manage size</h3>
			</div>
			{{ form_open() }}
				<div class="box-body">
					{% if validation_errors | length %}
					<div class="alert alert-danger">
						{{ validation_errors | raw }}
					</div>
					{% endif %}
					<div class="form-group">
						{{ form_label('Name') }}
						{{ form_input({'class': 'form-control', 'name': 'name', 'value': object.name}) }}
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}
