{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Sizes' %}
{% set LIST_COLUMNS = ['ID', 'Name', 'Actions'] %}

{% block table_body %}
{% for size in sizes %}
	<tr>
		<td>{{ size.id }}</td>
		<td>{{ size.name }}</td>
		<td>
			{{ crud_action('admin/sizes/edit', size.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/sizes/delete', size.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}