{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Suppliers' %}
{% set LIST_COLUMNS = ['ID', 'Name', 'Phone', 'E-mail', 'Actions'] %}

{% block table_body %}
{% for supplier in suppliers %}
	<tr>
		<td>{{ supplier.id }}</td>
		<td>{{ supplier.name }}</td>
		<td>{{ supplier.phone }}</td>
		<td>{{ supplier.email }}</td>
		<td>
			{{ crud_action('admin/suppliers/edit', supplier.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/suppliers/delete', supplier.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}
