{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
	<link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.theme.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">	
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<form method="post" name="order">
				{% if validation_errors | length %}
					<div class="callout callout-danger">
						{{ validation_errors | raw }}
					</div>
				{% endif %}
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active">
							<a aria-expanded="true" href="#tab_1" data-toggle="tab">
								Order details
							</a>
						</li>
						<li class="">
							<a aria-expanded="false" href="#tab_2" data-toggle="tab">
								Order products
							</a>
						</li>
						{% if current_action == 'edit' %}
							<li class="">
								<a aria-expanded="false" href="#tab_3" data-toggle="tab">
									Order comments
								</a>
							</li>
						{% endif %}
						<li class="header pull-right">
							<i class="fa fa-th"></i>
							Manager order
						</li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
	{#								object.customer_name#}
									{{ form_label('Customer name') }}
										<div class="input-group">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
											</div>
											{{ form_input({'class': 'form-control', 'name': 'customer_name', 'value': set_value('customer_name', object.customer_name)}) }}
										</div>
									</div>
									<div class="form-group">
										{{ form_label('Customer Facebook Profil URL') }}
										
										<div class="input-group">
											<div class="input-group-addon">
												<span class="glyphicon" aria-hidden="true" style="font-weight: bold; font-size: 18px">F</span>
											</div>
											{{ form_input({'class': 'form-control ', 'name': 'customer_facebook_url', 'value': set_value('customer_facebook_url', object.facebook_customer_profile_url)}) }}
										</div>
										
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										{{ form_label('Facebook Page') }}
										{{ form_dropdown({'class': 'form-control', 'name': 'facebook_page'}, facebook_pages, facebook_page_selected, 'id="facebook_page" onChange="loadDoc();"') }}
									</div>
									<div class="form-group">
										{{ form_label('Country') }}
										{{ form_dropdown({'class': 'form-control', 'name': 'country'}, countries, countries_selected, 'id="CountryID"') }}
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										{{ form_label('Email') }}
										<div class="input-group">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
											</div>
											{{ form_input({'class': 'form-control', 'name': 'email', 'value': set_value('email', object.email)}) }}
										</div>
										
									</div>
									<div class="form-group">
										{{ form_label('Phone') }}
										<div class="input-group">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
											</div>
											{{ form_input({'class': 'form-control', 'name': 'phone', 'value': set_value('phone', object.phone)}) }}
										</div>
										
									</div>
								</div>
							</div>
							{#<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										{{ form_label('Postcode') }}
										{{ form_input({'class': 'form-control', 'name': 'post_code', 'value': set_value('post_code', object.post_code)}) }}
									</div>
									
								</div>
							</div>#}
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										
										{{ form_label('Address') }}
										<a id="check_in_google" href="#" target="_blank">
											<img src="images/world.png" alt="">
											Verify address in Google Maps
										</a>
										<div class="input-group">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
											</div>
											{{ form_input({'class': 'form-control', 'name': 'address', 'value': set_value('address', object.address)}) }}
										</div>
									</div>
									<div class="form-group">
										{{ form_label('City') }}
										<div class="input-group">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
											</div>
											{{ form_input({'class': 'form-control', 'name': 'city', 'value': set_value('city', object.city)}) }}	
										</div>	
									</div>
									<div class="form-group">
										{{ form_label('Postcode') }}
										<div class="input-group">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
											</div>
											{{ form_input({'class': 'form-control', 'name': 'post_code', 'value': set_value('post_code', object.post_code)}) }}
										</div>
										

									</div>
										
								</div>
							</div>
{#							<div class="form-group">
								{{ form_label('Note') }}
								{{ form_textarea({'class': 'form-control', 'name': 'note'}, set_value('note', object.note)) }}
							</div>#}
							{#<div class="form-group">
								{{ form_label('Status') }}
								{{ form_dropdown({'class': 'form-control', 'name': 'status'}, status_choices, object.status) }}
							</div>#}
							<input type="hidden" name="initial_order_time" value="{{ initial_order_time | date('Y-m-d H:i:s') }}">
						</div>
						<div class="tab-pane" id="tab_2">
							<div class="form-group">
								<label class="control-label required" for="product_autocomplete">Find products</label>
								<input type="text" id="product_autocomplete" name="order[findproduct]" class="form-control ui-autocomplete-input" autocomplete="off">
							</div>
							
							<div class="collection_row">
								<div data-role="collection" class="panel panel-info border-wrap">
									<div class="panel-heading">
										<label class="control-label required">Products</label>
										
									</div>
									<div class="panel-body">
										<div class=" form-collection" data-prototype-name="__name__"  id="order_products">
											<table id="order_products" class="table table-striped">
												<thead>
													
													<tr>
														<th width="12%">
															<label for="order_products_image" class="control-label required">Image</label>
														</th>
														<th width="20%">
															<label for="order_products_product" class="control-label required">Product</label>
														</th>
														<th width="20%">
															<label for="order_products_quantity" class="control-label required">Quantity</label>
														</th>
														<th width="20%">
															<label for="order_products_size" class="control-label required">Size</label>
														</th>
														<th width="10%">
															<label for="order_products_price" class="control-label required">Price</label>
														</th>
														<th width="2%"><i class="glyphicon glyphicon-trash"></i>
														</th>
													</tr>
													
												</thead>
												<tbody>
													{% for item in products %}
														<tr id="{{item.id}}">
															<td class="order_row_image">
																<img src="{{base_url('uploads')}}/{{item.product_id}}/{{item.imagefile}}_thumb{{item.imagefile_ext}}" />
															</td>
															<td class="name">{{ item.name }} - {{ item.code }}</td>
															{%if edit_action %}
																<td class="quantity">{{ item.quantity }}</td>
																<td class="size">{{ item.size_name }}</td>
																<td class="price">{{ item.price }}</td>
															{% else %}
																
																<td>{{ form_dropdown({'class': 'form-control', 'name': 'size'},sizes, item.size_id) }}</td>
															{% endif %}
															<td>
																<a href="{{base_url('admin/orders/edit')}}/{{object.id}}/chprod/{{item.product_id}}/{{item.size_id}}" 
																   class="btn btn-danger btn-xs" 
																   id="change-order-product-legacy" data-role="change-element" title="Change">
																	<i class="glyphicon glyphicon-pencil"></i>
																</a>
																<a href="{{base_url('admin/orders/edit')}}/{{object.id}}/remprod/{{item.product_id}}/{{item.size_id}}" 
																   class="btn btn-danger btn-xs" 
																   id="remove-order-product-legacy" data-role="remove-element" title="Remove">
																	<i class="glyphicon glyphicon-trash"></i>
																</a>
															</td>
														</tr>
													{% endfor %}
														{#<tr id="">
															<td class="name"></td>
															
																<td class="quantity"></td>
																<td class="size"></td>
															
														</tr>#}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
								<div class="col-md-2">
								<div class="form-group">
									{{ form_label('Delivery Cost') }}
{#									да се довърши да се пресмята доставката според коя държава е #}
									<div class="input-group"> 
										<span class="input-group-addon">€ </span>
										{{ form_input({'class': 'form-control', 'name': 'delivery_cost'},'0' ,'id="Delivery_Cost"') }}
										{# {{ form_input({'class': 'form-control', 'name': 'delivery_cost', 'value': set_value('delivery_cost', object.delivery_cost, 5)}) }} #}
									</div>
								</div>
								<div class="form-group">
{#								дискаунт да се премести при добавянето на продукти и да има опция да е процент или число#}
{#								{{ form_label('Discount') }}#}
								<label for="discount" class="control-label required">Discount [is digit not percentage] <br /> if total is 100 and discount is 10 <br /> total equals 90</label>
								<div class="input-group">
									<span class="input-group-addon">€ </span>
									
{#									{% if object.discount is defined %}
                                                                                {% set discount_value = 0 %}#}
                                                                                
{#										{% set discount_value = set_value('discount', object.discount, 0) %}#}
									{#{% else  %}
										{% set discount_value = 0 %}#}
{#									{% endif %}#}
									{{ form_input({'class': 'form-control', 'name': 'discount', 'value': set_value('discount', object.discount)}) }}
									
								</div>
								</div>
                                                                        
                                                                <div class="form-group">
									{{ form_label('Discount Percentage') }}
									<div class="input-group"> 
										<span class="input-group-addon">% </span>
										{{ form_input({'class': 'form-control', 'name': 'discount_percentage', 'value': set_value('discount_percentage', object.discount_percentage)}) }}
									</div>
								</div>
									
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group " style="float: right">
											<strong>TOTAL:<span class="total_price">{{ object.total }}</span></strong>
										</div>
									</div>
								</div>
									
						</div>
						<div class="tab-pane" id="tab_3">
							<div class="row">
								{% include 'admin/order/_user_comments_block.twig' with {order_comments: order_comments} %}
								<div class="col-md-7">
									<div class="box box-primary">
										<div class="box-header with-border"><h3 class="box-title">Add new comment</h3></div>
										<div class="box-body">
											<textarea id="compose-textarea" class="form-control" style="height: 300px"></textarea>
											<input type="hidden" name="order_id" value="{{ object.id }}">
										</div>
										<div class="box-footer">
											<button data-role="add-comment" class="btn btn-primary" type="button"><i class="fa fa-envelope-o"></i> Send</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group"><button class="btn-block btn-info btn" name="save" id="order_save" type="submit">Save</button></div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/admin/js/orders_helper.js') }}"></script>
	<script type="text/javascript">
		OrdersHelper.setAutocompleteTarget('#product_autocomplete');
		OrdersHelper.setUrlForAutocomplete('{{ base_url('admin/orders/orders_autocomplete') }}');
		OrdersHelper.setAutocompleteCustomerTarget('input[name=customer_name]');
		OrdersHelper.setUrlForAutocompleteCustomer('{{ base_url('admin/orders/orders_autocomplete_customer') }}');
		OrdersHelper.setUrlForAddRow('{{base_url('admin/orders/order_add_row')}}');
		OrdersHelper.setUrlForComments('{{base_url('admin/orders/handle_user_comment')}}');
		OrdersHelper.setUrlForCountryDeliveryCost('{{base_url('admin/orders/handle_delivery_cost')}}');
		OrdersHelper.setOrderStatus('{{object.status}}');
		OrdersHelper.init();
		
		$("#compose-textarea").wysihtml5();
		
		$('form[name=order]').on('submit', function(event) {
			
			var rowCount = $('table#order_products tbody tr').length;
			if(rowCount > 0){
				$('#order_save').prop('disabled', true);
			} else {
				alert('No added products!');
				event.preventDefault();
			}
		});
		
		$("#check_in_google").click(function(){
			var country = $("select[name=country] option:selected").text();
			var post_code = $("input[name=post_code]").val();
			var city = $("input[name=city]").val();
			var address = $("input[name=address]").val();
			var query = country + ' ' + post_code + ' ' + city + ' ' + address;
			window.open("https://www.google.bg/maps/search/"+query+"/",null,"height=600,width=1000,status=yes,toolbar=no,menubar=no,location=no");
			return false;
		});


		//added by danny test	
		function loadDoc() {
			function UpdateCountry(){
				var x = document.getElementById("facebook_page").value;
    			console.log('FB Page Id: '+x);

				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4  && this.status == 200) {
						document.getElementById("CountryID").value = this.responseText;
					}
				};
				xhttp.open("GET", "findById?id="+x, true);
				xhttp.send();
			}
			UpdateCountry();

			function UpdateDeliveryPrice(){

				var x = document.getElementById("facebook_page").value;

				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4  && this.status == 200) {
						document.getElementById("Delivery_Cost").value = this.responseText;
					}
				};
				xhttp.open("GET", "GiveDeliveryPriceByFClist?id="+x, true);
				xhttp.send();

			}
			UpdateDeliveryPrice();

		}
		
			{#$("[data-role='remove-element']").click(function(e) { 
                e.preventDefault();
                $("table#order_products tbody").find('.elementsToDelete:checked').closest('tr').remove();
                return false;
            });#}
	</script>
{% endblock %}