{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Orders' %}
{% set LIST_COLUMNS = ['', 'Products', 'Agent name', 'Date', 'Phone', 'Customer Name',
 'Country', 'Postal Code', 'City', 'Address', 'Delivery Cost',
 'Discount', 'Total'] %}

{% block table_body %}
	
	{% include 'admin/order/order_table.twig' %}
{% endblock %}

{% block table_footer %}
	{{ pagination | raw }}
{% endblock %}

{% block table_legend %}
        <a href="javascript:void(0)" class="btn btn-xs" style="color: white; border-color: black; background-color: white">&nbsp; &nbsp; &nbsp; &nbsp; </a> - Not Processed<br />
        <a href="javascript:void(0)" class="btn btn-xs btn-success" style="color: white; background-color: #99E699">&nbsp; &nbsp; &nbsp; &nbsp; </a> - Sent (completed)<br />
        <a href="javascript:void(0)" class="btn btn-xs btn-danger" style="color: black; background-color: #a6a6a6">&nbsp; &nbsp; &nbsp; &nbsp; </a> - Returned<br />
        <a href="javascript:void(0)" class="btn btn-xs btn-danger" style="color: white; background-color: #9d63e9">&nbsp; &nbsp; &nbsp; &nbsp; </a> - Missing Product<br />
        <a href="javascript:void(0)" class="btn btn-xs btn-danger">&nbsp; &nbsp; &nbsp; &nbsp; </a> - Problem (look into the comments)<br /><br />
{% endblock %}
{% block custom_javascripts %}
	<script type="text/javascript" src="{{ base_url('assets/admin/js/mangusta_comments.js') }}"></script>
	<script type="text/javascript">
		$(document).on('click', '.change_order_status', function(event){
			var r = confirm('Do you want to proceed with change order status ?');
                        if(r == false){
                            event.preventDefault()
                        }
		});
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});
		
		this.imagePreview = function () {
			/* CONFIG */

			xOffset = 10;
			yOffset = 30;

			// these 2 variable determine popup's distance from the cursor
			// you might want to adjust to get the right result

			/* END CONFIG */
			$("a.preview").hover(function (e) {

				//needs to be fixed
				this.t = this.title;
				this.title = "";
				var c = (this.t != "") ? "<br/>" + this.t : "";
				$("body").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' width='450px'  />" + c + "</p>");
				$("#preview")
						.css("top", (e.pageY - xOffset) + "px")
						.css("left", (e.pageX + yOffset) + "px")
						.fadeIn("fast");
			},
					function () {
						this.title = this.t;
						$("#preview").remove();
					});
			$("a.preview").mousemove(function (e) {
				$("#preview")
						.css("top", (e.pageY - xOffset) + "px")
						.css("left", (e.pageX + yOffset) + "px");
			});
		};

		$(document).ready(function () {
			imagePreview();
		});
		
		$(document).on('change', '.datepicker', function(event) {
			ajax_table(1);
		});
		
		$(document).on('change', 'select[name=assigned_to_id]', function(event) {
			ajax_table(1);
		}); 
		
		$(document).on('click', 'div[data-role="paging"] a', function(event) {
			event.preventDefault();
			var current =  $(this);
			var current_page = current.attr('data-ci-pagination-page');
			ajax_table(current_page);
		});
		
		$(document).on("change keyup paste", "input[name=_order_filter]", function(event){
			var current =  $(this);
			ajax_table(1);
			$('input[name=_order_filter]').focus();
		})
		
		function ajax_table(current) { 
				var current = current;
				term = $("input[name=_order_filter]").val();
				assigned_to_id = $("select[name=assigned_to_id] option:selected").val();
				date_to = $("input[name=to_date]").val();
				date_from = $("input[name=from_date]").val();
				    selected_page = current;
					
					if(typeof selected_page == 'undefined') {
						selected_page = 1;
					}
				
					var target = $('div[data-role="main-container"]'),
					 target_table = $(document).find('table.table-hover tbody'),
					 target_pagination = $('ul.pagination'),
						
						request = $.ajax({
							url: '{{ site_url('admin/orders') }}/' + selected_page,
								dataType: 'json',
								type: 'POST',
								data: {
									current_page: selected_page,
									term: term,
									assigned_to_id: assigned_to_id,
									date_from: date_from,
									date_to: date_to
								}
						});

					request.success(function(response) {
						if (typeof response.success !== 'undefined' && typeof response.content !== 'undefined') {
							target_table.html(response.content);
							target_pagination.html(response.pagination);
						}
					});
			}
	</script>
{% endblock %}