{% for order in orders %}
	{% if order.status == '1'%}
	{#	pending	#}
		{% set order_status_style = "" %} 
	{% elseif order.status == '2' %}
	{#	completed #}
		{% set order_status_style = "background-color: #99E699" %} 
	{% elseif order.status == '3' %}
	{#	rejected #}
		{% set order_status_style = "background-color: #a6a6a6" %} 
	{% elseif order.status == '5' %}
	{#	missing #}
		{% set order_status_style = "background-color: #CC80FF" %} 
	{% elseif order.status == '4' %}
	{#	canceled #}
		{% set order_status_style = "background-color: #FF9980" %} 
	{% else  %}
	{#	normal white	#}
		{% set order_status_style = "" %} 
	{% endif%}
	
	<tr style="{{ order_status_style }}">
		<td width="60px">
            <a href="{{ base_url('admin/orders/edit/' ~ order.id) }}" target="_blank">
			<span><i class="glyphicon glyphicon-pencil" style="color: black"></i></span>
			</a>
		    <br />
			{% if order.status != 2 %}
			<a href="{{ base_url('admin/orders/changestatus/' ~ order.id ~'/2') }}" class="btn btn-xs btn-success change_order_status">S</a>
			{% endif %}
			{% if order.status != 3 %}
			<a href="{{ base_url('admin/orders/changestatus/' ~ order.id ~'/3') }}" class="btn btn-xs change_order_status" style="color: white; background-color: #a6a6a6">R</a>
			{% endif %}
			{% if order.status != 5 %}
			<a href="{{ base_url('admin/orders/changestatus/' ~ order.id ~'/5') }}" class="btn btn-xs btn-danger change_order_status" style="color: white; border-color: black; background-color: #611BBD">M</a>
			{% endif %}
			{% if order.status != 4 %}
			<a href="{{ base_url('admin/orders/changestatus/' ~ order.id ~'/4') }}" class="btn btn-xs btn-danger change_order_status">P</a>
			{% endif %}
			<br />
			{% if order.status == 3 %}
				<a href="{{ base_url('admin/orders/create?return_order='~order.id) }}" class="btn btn-xs btn-danger">Create return order</a>
				<br />
			{% endif %}
			{% if order.comment_count > 0 %}
				<a href="{{ base_url('admin/orders/load_comments/' ~ order.id) }}" data-role="toggle-comments" title="">
					<span><i class="glyphicon glyphicon-comment unread-count" data-count="{{ order.comment_count }}"></i></span>
				</a>
			{% endif %}
		</td>
		<td width="110px">
			{% if order.products | length %}
				<ul class="list-group">
				{% for product in order.products %}
					<li>{{ product.quantity }}x[{{ product.size|upper }}] <a href="{{ base_url('admin/products/date_added/asc?_filter=' ~ product.code) }}" target="_blank">{{ product.code }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<span class="label label-danger">N/A!</span>
			{% endif %}
		</td>
		<td width="100px">{{ order.agent_name }}</td>
                <td>{{ order.date_added|date("m.d/H:i") }}</td>
		<td>{% if order.phone != order.phone_clean %}
				{{ order.phone }}<br />{{ order.phone_clean }}
			{% else %}
				{{ order.phone }}
			{% endif %}</td>
		<td width="220px"><a href="{{ order.facebook_customer_profile_url }}" target="_blank" style="color: black">{{ order.customer_name }}</a><br />
			<a href="https://business.facebook.com/{{ order.facebook_page_fb_id }}/messages" target="_blank">{{ order.facebook_page }}</a></td>
		<td>{{ order.country_name }}</td>
		<td>{% if order.post_code != order.post_code_clean %}
				{{ order.post_code }}<br />{{ order.post_code_clean }}
			{% else %}
				{{ order.post_code }}
			{% endif %}</td>
		<td>{{ order.city }}</td>
		<td>{{ order.address }}</td>
		<td>{{ order.delivery_cost }}</td>
		<td>{{ order.discount }}</td>
		<td>{{ order.total }} {{ order.currency }}</td>
	<tr/>
{% endfor %}
