<tr id="{{item.id}}">
	<td class="order_row_image"> 
		<img src="{{base_url('uploads')}}/{{item.id}}/{{image.filename}}_thumb{{image.ext}}" />
	</td>
	<td class="name">{{ item.name }} - {{ item.code }}</td>

		<td class="quantity">{{ item.quantity }}
			<input type="text" class="form-control" name="order[products][{{table_rows}}][quantity]" value="1" />
		</td>



		<td class="size">
{#			{{ form_dropdown({'class': 'form-control', 'name': 'size'},item.sizes, item.size_id) }}#}

			<select class="form-control" name="order[products][{{table_rows}}][size]">
				{% for size in item.sizes %}
				<option value="{{size.size_id}}">{{size.size_name}} [{{size.quantity}}] - reserved[{{size.reserved_quantity}}]</option>
				{% endfor %}
			</select>
			
				{% for product_size in product_sizes_description %}
					{% if product_size.description != '' %}
					<div class="row" style="margin-left: 10px; margin-top: 10px">
						<strong>{{ product_size.name }}</strong> -
						<span>{{ product_size.description }}</span>
					</div>
					{% endif %}
				{% endfor %}
				<input type="hidden" name="order[products][{{table_rows}}][product_id]" value="{{item.id}}" />
		</td>
		
		<td class="price">{{ item.price }}</td>
<input type="hidden" name="order[products][{{table_rows}}][price]" value="{{item.price}}" />
		<td>
			<a href="#" class="btn btn-danger btn-xs" id="remove-order-product" data-role="remove-element" title="REMOVE">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</td>
</tr>