{% extends 'admin/layouts/base.html.twig' %}

{% block custom_css %}
	<link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.theme.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">	
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<form method="post" name="order_change_product">
				{% if validation_errors | length %}
					<div class="callout callout-danger">
						{{ validation_errors | raw }}
					</div>
				{% endif %}
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active">
							<a aria-expanded="true" href="#tab_1" data-toggle="tab">
								Order change product
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="tab_1">
							<div class="form-group">
								{{ form_label('Size') }}
								{{ form_dropdown({'class': 'form-control', 'name': 'size'}, sizes, size_selected) }}
							</div>
							<div class="form-group">
								{{ form_label('Quantity') }}
								{{ form_input({'class': 'form-control ', 'name': 'quantity', 'value': set_value('quantity', object.quantity)}) }}
							</div>


						</div>
						<div class="form-group"><button class="btn-block btn-info btn" name="save" id="order_save" type="submit">Save</button></div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block custom_javascripts %}
{% endblock %}