{% extends is_ajax ? 'admin/layouts/ajax.html.twig' : 'admin/layouts/base.html.twig' %}

{% set crud_table_class = has_filter ? 'col-xs-9' : 'col-xs-12' %}

{% block body %}
	<div class="row" data-role="main-container">
		<div class="alert alert-success" id="alert-success" style="display: none">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span></span>
		</div>
		<div class="alert alert-danger" id="alert-error" style="display: none">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span></span>
		</div>
		{% if has_filter %}
			{{ block('crud_filter') }}
		{% endif %}
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ LIST_TITLE }}</h3>
                </div>
                <div class="box-body table-responsive no-padding">
					{% if current_controller == 'order' %}
						<form method="POST" action="" class="form-inline">
							<table class="table">
								<tbody>
									<tr>
										<td class="col-xs-3">
											<input class="form-control" style="width: 100%;" placeholder="Enter some text here..." type="text" name="_order_filter" class="form-control input-sm" value="{{ _order_filter }}"/>
										</td>
										{# {% if user_data.group_id <= 2 %} restricts all but admins to see all orders #}
										<td class="col-md-1">
										{{ form_dropdown({'class': 'form-control', 'name': 'assigned_to_id'}, users_select, '') }}
										</td>
										<td class="col-md-5">
											{% set date_to = now | date('d-m-Y') %}

										{{ form_label('From') }}
										{{ form_input({'class': 'form-control datepicker', 'name': 'from_date' }) }}
										{{ form_label('To') }}
										{{ form_input({'class': 'form-control datepicker', 'name': 'to_date', 'value': date_to }) }}
										</td>
										<td></td>
										{# {% endif  %} #}
									</tr>
								</tbody>
							</table>
						</form>
					{% elseif current_controller == 'statistic' %}
						<form method="POST" action="" class="form-inline">
							<table class="table">
								<tbody>
									<tr>
										<td class="col-md-5">
										{{ form_label('From') }}
										{{ form_input({'class': 'form-control datepicker', 'name': 'from_date', 'value': date_from }) }}
										{{ form_label('To') }}
										{{ form_input({'class': 'form-control datepicker', 'name': 'date_to', 'value': date_to }) }}
											<button type="submit" class="btn btn-default" name="submit" value="1">
												<i class="glyphicon glyphicon-filter"></i>
												Filter results
                                            </button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					{% elseif current_controller == 'report' %}
						<form method="POST" action="" class="form-inline">
							<table class="table">
								<tbody>
									<tr>
										<td class="col-md-5">
										{{ form_label('From') }}
										{{ form_input({'class': 'form-control datepicker', 'name': 'from_date', 'value': date_from }) }}
										{{ form_label('To') }}
										{{ form_input({'class': 'form-control datepicker', 'name': 'date_to', 'value': date_to }) }}
											<button type="submit" class="btn btn-default" name="submit" value="1">
												<i class="glyphicon glyphicon-filter"></i>
												Filter results
                                            </button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					{% elseif current_controller == 'facebook' %}
					{% elseif current_controller == 'album' %}
						<div class="container">
							<div class="row padding-btm">
								<div class="col-sm-1 col-sm-offset-11">
									<a class="btn btn-success" href="/admin/album/page/{{ pageId }}/create">Add Albums</a>
								</div>
							</div>
						</div>
					{% else %}
						<form method="GET" action="" class="form-inline">
							<table class="table">
								<tbody>
									<tr>
										<td width="90%">
											<input class="form-control" style="width: 100%;" placeholder="Enter some text here..." type="text" name="_filter" class="form-control input-sm" value="{{ _GET['_filter'] | escape }}"/>
										</td>
										<td class="text-right">
											<button type="submit" class="btn btn-default" name="submit" value="1">
												<i class="glyphicon glyphicon-filter"></i>
												Filter results
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					{% endif %}
					<div class="container-fluid">
                    <table class="table table-hover{{ current_controller == 'facebook' ? ' datatables' : '' }}">
						{% if LIST_COLUMNS is defined %}
							<thead>
								<tr>
									{% if _SERVER['QUERY_STRING'] != '' %}
										{% set query_string = '?'~_SERVER['QUERY_STRING'] %}
									{% else %}
										{% set query_string = '' %}
									{% endif %}
									{% for column in LIST_COLUMNS %}
										{% if column is iterable %}
											{% for columnName, columnValue in column %}
{#												<th{% if loop.last %} width="15%"{% endif %}>#}
												<th>
													{% if expected is defined and expected == true %}
														<a href="{{base_url()}}admin/products/expected/{{columnValue}}/{{order_res}}/{{current_page}}{{query_string}}">{{ columnName }}</a>
													{% else %}
														<a href="{{base_url()}}admin/products/{{columnValue}}/{{order_res}}/{{current_page}}{{query_string}}">{{ columnName }}</a>
													{% endif %}
												</th>
											{% endfor %}

										{% else %}
											<th{% if loop.last %} width="15%"{% endif %}>{{ column }}</th>
										{% endif %}

									{% endfor %}
								</tr>
							</thead>
						{% endif %}
                        <tbody>
							{{ block('table_body') }}
                        </tbody>
                    </table>
								</div>
                </div>
                                <div class="box-footer text-left">
                                        {{ block('table_legend') }}
                                </div>
				<div class="box-footer text-right">
					{{ block('table_footer') }}
				</div>

            </div>
        </div>
				{{ block('additional_code') }}
    </div>
{% endblock %}
