{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Countries' %}
{% set LIST_COLUMNS = ['ID', 'Name', 'Currency', 'ISO Code', 'Active', 'Actions'] %}

{% block table_body %}
{% for country in countries %}
	<tr>
		<td>{{ country.id }}</td>
		<td>{{ country.name }}</td>
		<td>{{ country.currency }}</td>
		<td>{{ country.iso_code }}</td>
		<td>{{ crud_is_active(country.is_active) }}</td>
		<td>
			{{ crud_action('admin/countries/edit', country.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/countries/delete', country.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}