{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Current unread messages by page' %}
{% set LIST_COLUMNS = ['Last read message', 'Page', 'Unread Messages', 'Main Agent', 'Secondary Agent'] %}

{% block table_body %}

{% for page in pages %}
    <tr>
        <td>{{ page.last_read_message }}</td>
        <td><a href="https://business.facebook.com/{{ page.fb_id }}/messages/">{{ page.fb_title }}</a></td>
        <td>{{ page.unread_message_count }}</td>
        <td>{{ page.primary }}</td>
        <td>{{ page.secondary }}</td>
    <tr/>
{% endfor %}

{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}

{% endblock %}