{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Add Product to Website</h3>
			</div>
			{{ form_open() }}
				<div class="box-body">
					{% if validation_errors | length %}
					<div class="alert alert-danger">
						{{ validation_errors | raw }}
					</div>
					{% endif %}
					<div class="form-group">
						{{ form_label('Code') }}
						{{ form_input({'class': 'form-control', 'name': 'code', 'value': object.code}) }}
					</div>
					<div class="form-group">
						{{ form_label('Description') }}
						{{ form_input({'class': 'form-control', 'name': 'description', 'value': object.description}) }}
					</div>
					<div class="form-group">
						{{ form_label('Short description') }}
						{{ form_input({'class': 'form-control', 'name': 'short_description', 'value': object.short_description}) }}
					</div>
					<div class="form-group">
						{{ form_label('Categories') }}
						{{ form_input({'class': 'form-control', 'name': 'categories', 'value': object.categories}) }}
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}