{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Statistics' %}

{% block table_body %}
	<table class="table">
		<th>Name</th>
		<th>Orders<br />Total</th>
		<th>Orders<br />Paid For (%)</th>
		<th>Average Products<br />per Paid Order</th>
		<th>Products<br />Total</th>
		<th>Products<br />Paid for (%)</th>
		<th>Orders<br />Returned (%)</th>
		<th>Products<br />Returned (%)</th>
		<th>Average Products per<br />Returned Order</th>
		<th>Order<br />Success Rate</th>
	{% for agent in agents %}
		<tr>
			<td>{{ agent.user_name }}</td>
			<td>{{ agent.orders_total }}</td>
			<td>{{ agent.orders_paid }} ({{ agent.orders_paid_percent }}%)</td>
			<td>{{ agent.orders_paid_average_size }}</td>
			<td>{{ agent.products_total }}</td>
			<td>{{ agent.products_paid }} ({{ agent.products_paid_percent }}%)</td>
			<td>{{ agent.orders_returned }} ({{ agent.orders_returned_percent }}%)</td>
			<td>{{ agent.products_returned }} ({{ agent.products_returned_percent }}%)</td>
			<td>{{ agent.orders_returned_average_size }}</td>
			<td>{{ agent.order_success_rate }}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}

{% block table_footer %}
	
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
	
		$(function() {
			$(".datepicker").datepicker({ 
				dateFormat: 'dd-mm-yy' 
			});
		});

		$(document).ready(function(){
			$(".table tr:even").css("background-color", "#dddddd");
			$(".table tr:first").css("background-color", "#ffffff");
		});
		
		
	</script>
{% endblock %}