<div id="albumCreate" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Album</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <strong>Page Name: </strong>
          <a id="page-name" href=""></a>
        </div>
        <input type="hidden" name="fb_page_id" id="page-id" value=""/>
        <div class="form-group">
          {{ form_label('Title') }}
          {{ form_input({'class': 'form-control', 'name': 'title', 'id': 'album-title'}) }}
        </div>
        <div class="form-group">
          {{ form_label('Subtitle') }}
          {{ form_input({'class': 'form-control', 'name': 'subtitle', 'id': 'album-subtitle'}) }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="create-album-submit">Create</button>
      </div>
    </div>

  </div>
</div>
