{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = title %}
{% set LIST_COLUMNS = ['ID', 'Title', 'Subtitle', 'Photos'] %}

{% block table_body %}
{% for album in albums %}
  <tr>
    <td>{{ album.id }}</td>
    <td>
      <a href="{{ album.fb_url }}">{{ album.title }}</a>
    </td>
    <td>
      {{ album.subtitle }}
    </td>
    <td>
      <a class="btn btn-success btn-xs" href="/admin/photo/album/{{ album.id }}">Photos</a>
    </td>
    <td>
			{{ crud_action('admin/album/edit', album.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/album/delete', album.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
  </tr>
{% endfor %}
{% endblock %}
