<div class="col-md-5" data-role="comments-list">
	{% if product_comments | length %}
		{% for item in product_comments %}
			<div class="box box-warning">
				<div class="box-header with-border">
					<div class="pull-left">@{{ item.by_user }}</div>
					<div class="pull-right">{{ item.created_at | date('m.d.Y H:i') }}</div>
				</div>
				<div class="box-body">
					{{ item.comment | raw }}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="alert alert-warning">
			<i class="glyphicon glyphicon-info-sign"></i>
			No comments added yet!
		</div>
	{% endif %}
</div>