{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			{#		<div class="box box-primary">#}
			{{ form_open_multipart() }}
			{#<div class="box-header with-border">
				<h3 class="box-title">Manage product</h3>
				<button class="btn btn-primary" style="float: right" type="submit">Save</button>
			</div>#}
			{% if validation_errors | length %}
				<div class="alert alert-danger">
					{{ validation_errors | raw }}
				</div>
			{% endif %}
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active">
						<a aria-expanded="true" href="#tab_1" data-toggle="tab">
							Product details
						</a>
					</li>
					{% if current_action == 'edit' %}
						<li class="">
							<a aria-expanded="false" href="#tab_2" data-toggle="tab">
								Product comments
							</a>
						</li>
					{% endif %}
					<li class="header pull-right">
						<i class="fa fa-th"></i>
						Manager Product
						<button class="btn btn-primary" style="float: right" type="submit">Save</button>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<div class="box-body">

							<div class="form-group">
								<label for="exampleInputFile">Upload product images</label>
                                                                <input type="file" name="userfile[]"  id="imgInp" multiple="">
								<img id="previewImage" src="#" alt="" width="150px" />
								<p class="help-block">Select one or more photos</p>
							</div>
							<div class="form-group">
								{% for image in images %}
									<ul>
										<li>
											<a href="{{ base_url('admin/products/deleteimage/') }}/{{image.id}}" class="del_photo" id="">
												<img src="{{base_url('assets/admin/images/delete.png')}}" border="0" />
											</a>
											<a href="{{ base_url('admin/products/setmainimage/') }}/{{image.id}}" class="set_main_photo" id="">
												{% if image.is_main == 1 %}
													<img src="{{base_url('assets/admin/images/switch-on.png')}}" border="0" />
												{% else %}
													<img src="{{base_url('assets/admin/images/switch.png')}}" border="0" />
												{% endif %}
											</a>
											<a href="{{image.resized}}" class="preview">
												<img src="{{image.thumb}}" alt="gallery thumbnail"  />
											</a>
										</li>
									</ul>
								{% endfor %}
							</div>
							<div class="clearfix"></div>
							<br />
							<div class="form-group">
								<label>Is branded</label> 
								{% if object.is_branded == 1 %}
									{{ form_checkbox('is_branded', 1, true) }}
								{% else %} 
									{{ form_checkbox('is_branded', 1, set_checkbox('is_branded', object.is_branded)) }}
								{% endif%}
							</div>
							<div class="form-group">
								{{ form_label('Name') }}
								{{ form_input({'class': 'form-control', 'name': 'name', 'value': object.name}) }}
							</div>
							<div class="form-group">
								{{ form_label('Code') }} (Next code from: {% for ser in series %}
										<a href="#" id="{{ ser.series }}{{ ser.next }}" class="code-label">{{ ser.series }}</a>
									{% endfor %})
								{{ form_input({'class': 'form-control', 'id': 'code', 'name': 'code', 'value': object.code}) }}
							</div>
							<div class="form-group">
								{{ form_label('Category') }}
								{{ form_dropdown({'class': 'form-control', 'name': 'category', 'options': categories, 'selected': object.category}) }}
							</div>
							<div class="form-group">
								{{ form_label('Tags (separated with commas)') }}
								{{ form_input({'class': 'form-control', 'name': 'tags', 'value': object.tags}) }}
							</div>
							<div class="form-group">
								{{ form_label('Colors (separated with commas)') }}
								{{ form_input({'class': 'form-control', 'name': 'colors', 'value': object.colors}) }}
							</div>
							<div class="form-group">
								{{ form_label('Supplier') }}
								{{ form_dropdown({'class': 'form-control', 'name': 'supplier_id', 'options': suppliers, 'selected': object.supplier_id}) }}
							</div>
							<div class="form-group">
								{{ form_label('Weight') }}
								{{ form_input({'class': 'form-control', 'name': 'weight', 'value': object.weight}) }}
							</div>
							<div class="form-group">
								<div class="collection_row">
									<div data-role="collection" class="panel panel-info border-wrap">
										<div class="panel-heading">
											<label class="control-label required">Sizes</label>
											<div class="pull-right">
												<div class="form-inline">
													<div class="form-group">

													</div>

												</div>

											</div>

										</div>
										<div class="panel-body">
											<div id="product_sizes">
												<table id="product_sizes" class="table table-striped">
													<thead>
														<tr>

														</tr>
													</thead>
													<tbody>
														{% for size in sizes %}
															<tr>
																<td style="vertical-align: middle"><b>{{size.name}}</b>
																	<input type="text" class="size-field" value="{{size.id}}" 
																		   readonly="readonly" name="product[sizes][{{loop.index0}}][size]" style="display: none;"></td>
														<input type="hidden" name="product[sizes][{{loop.index0}}][size_id]" value="{%if size.size_id == ''%}{{size.id}}{%else%}{{size.size_id}}{%endif%}" />
														<td style="vertical-align: middle">
															<label for="product_sizes_0_quantity" class="control-label required">Quantity</label>
															<input type="number" value="{% if size.quantity == '' %}0{% else %}{{ set_value('product[sizes][{{loop.index0}}][quantity]', size.quantity) }}{%endif%}" class="form-control" 
																   required="required" name="product[sizes][{{loop.index0}}][quantity]" id="product_sizes_0_quantity"></td>

														<td style="vertical-align: middle">
															<label for="product_sizes_0_description" class="control-label required">Size Description (bust/top length/pants length)</label>
															<input type="text" value="{{ set_value('product[sizes][{{loop.index0}}][description]', size.description) }}" class="form-control" 
																   name="product[sizes][{{loop.index0}}][description]" id="product_sizes_0_description"></td>

														<td style="vertical-align: middle">
															<label for="product_sizes_0_minQuantity" class="control-label required">Min quantity</label>
															<input type="number" value="{%if size.min_quantity == ''%}0{%else%}{{ set_value('product[sizes][{{loop.index0}}][minQuantity]', size.min_quantity) }}{%endif%}" class="form-control" required="required" name="product[sizes][{{loop.index0}}][minQuantity]" id="product_sizes_0_minQuantity"></td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="collection_row">
									<div data-role="collection" class="panel panel-info border-wrap">
										<div class="panel-heading">
											<label class="control-label required">Prices</label>
											<div class="pull-right">
												<div class="form-inline">
													<div class="form-group">
													</div>
												</div>
											</div>
										</div>
										<div class="panel-body">
											<div id="product_prices"> 
												<a class="btn btn-info" id="recalculatePrices" href="#" >Calculate Prices</a>
												<table id="product_prices" class="table table-striped">
													<thead><tr></tr></thead>
													<tbody>
														{% for country in countries %}
															<tr>
																<td style="vertical-align: middle"><b>{{country.name}} [{{country.currency}}]</b>
																	<input type="hidden" value="{%if country.country_id == ''%}{{country.id}}{%else%}{{country.country_id}}{%endif%}" name="product[prices][{{loop.index0}}][country]" />
																	<input type="text" 
																		   data-currency="{{country.currency}}"
																		   class="price-field form-control" 
																		   value="{% if country.price == '' %}0{% else %}{{ set_value('product[prices][{{loop.index0}}][price]', country.price) }}{%endif%}" name="product[prices][{{loop.index0}}][price]">
																	{#														{{ form_input({'class': 'price-field form-control', 'name': 'product[prices][{{loop.index0}}][price]', 'value': country.price}) }}#}
																</td>
																<td style="vertical-align: middle"><b>{{country.name}} [{{country.currency}}] - STOCK PRICE</b>
																	<input type="text" 
																		   class="price-field form-control" 
																		   value="{% if country.price_stock == '' %}0{% else %}{{ set_value('product[prices][{{loop.index0}}][price_stock]', country.price_stock) }}{%endif%}" name="product[prices][{{loop.index0}}][price_stock]">
																</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label>Is preorder</label> 
								{% if object.is_preorder == 1 %}
									{{ form_checkbox('is_preorder', 1, true) }}
								{% else %} 
									{{ form_checkbox('is_preorder', 1, set_checkbox('is_preorder', object.is_preorder)) }}
								{% endif %}
							</div>
						</div>
					</div>
							<div class="tab-pane" id="tab_2">
							<div class="row"> 
								{% include 'admin/product/_user_comments_block.twig' with {product_comments: product_comments} %}
								<div class="col-md-7">
									<div class="box box-primary">
										<div class="box-header with-border"><h3 class="box-title">Add new comment</h3></div>
										<div class="box-body">
											<textarea id="compose-textarea" class="form-control" style="height: 300px"></textarea>
											<input type="hidden" name="product_id" value="{{ object.id }}">
										</div>
										<div class="box-footer">
											<button data-role="add-comment" class="btn btn-primary" type="button"><i class="fa fa-envelope-o"></i> Send</button>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary btn-block" type="submit">Save</button>
				</div>
				{{ form_close() }}
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_javascripts %}
	<style>
		img{border:none;}
		ul,li{
			margin:0;
			padding:0;
		}
		li{
			list-style: none;
			float: left;
			display:inline;
			margin-right:10px;
		}

		#preview{
			position:absolute;
			border:1px solid #ccc;
			background:#333;
			padding:5px;
			display:none;
			color:#fff;
		}

		.del_photo {
			display: inline-block;
			float:right;
			margin:5px 0 0 0;
			position: relative;
			top: 0;
			right: 23px;
		}
		.set_main_photo {
			display: inline-block;
			float:right;
			margin:35px 0 0 5px;
			position: relative;
			top: 5px;
			right: -9px;
		}




	</style>
	<script type="text/javascript" src="{{ base_url('assets/admin/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/admin/js/products_helper.js') }}"></script>
	
	<script type="text/javascript">
		ProductHelper.setUrlForComments('{{base_url('admin/products/handle_user_comment')}}');
                ProductHelper.setAction('{{action}}');
		ProductHelper.init();

		$('.code-label').click(function(e){
			$('#code').val(this.id);
		});

		this.imagePreview = function () {
			/* CONFIG */

			xOffset = 10;
			yOffset = 30;

			// these 2 variable determine popup's distance from the cursor
			// you might want to adjust to get the right result

			/* END CONFIG */
			$("a.preview").hover(function (e) {
					this.t = this.title;
					this.title = "";
					var c = (this.t != "") ? "<br/>" + this.t : "";
					$("body").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' width='450px'  />" + c + "</p>");
					$("#preview")
							.css("top", (e.pageY - xOffset) + "px")
							.css("left", (e.pageX + yOffset) + "px")
							.fadeIn("fast");
				},
				function () {
					this.title = this.t;
					$("#preview").remove();
			});
			$("a.preview").mousemove(function (e) {
				$("#preview")
						.css("top", (e.pageY - xOffset) + "px")
						.css("left", (e.pageX + yOffset) + "px");
			});
		};

		$(document).ready(function (){
			imagePreview();
			$("#compose-textarea").wysihtml5();
			$('#recalculatePrices').click(function (event){
				event.preventDefault();
				function getCurrencyConverter(price, to){
					var from = 'EUR';
					var ajaxURL = '{{base_url('admin/product/exchangecurrency')}}';
					$.ajax({
						url: ajaxURL,
						dataType: 'json',
						data: {
							from: from,
							to: to,
							price: price
//						format: 'json'
						},
						error: function (data) {
						},
						success: function (data) {
							if (to == 'RON') {
								to = 'LEI';
							}
							$('[data-currency="' + to + '"]').val(data.convertedPrice);
						},
						done: function (data) {
						},
						type: 'POST',
						async: true
					});
					return false;
				}


				var price = $('[data-currency="EUR"]').val();
				getCurrencyConverter(price, 'BGN');
				getCurrencyConverter(price, 'RON'); //LEI
				getCurrencyConverter(price, 'TRY');

			});

		});

	</script>
{% endblock %}
