{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Products' %}
{% set LIST_COLUMNS = [
	{'': 'id'},
	'Preview',
	{'Added':'date_added'}, 
	{'Code':'code'}, 
	{'Name': 'name'},
	{'On Sale': 'onsale'},
	{'Category': 'category'},
	{'Total': 'total_quantity'},
	{'XS': 'xs'},
	{'S': 's'},
	{'M': 'm'},
	{'L': 'l'},
	{'XL': 'xl'},
	{'XXL': 'xxl'},
	{'XXXL': 'xxxl'},
	{'Supplier': 'Supplier'}, 
	'EUR',
	'LEI',
	'BGN',
	'Actions'] %}

{% block table_body %}
	{#expected продуктите да са отделно 
	тук да се виждат само нормалите продукти#}
	
	{#<br />
	като няма да се зарежда продуктът да се оцветява в оранжево#}
{% for product in products %}
{#	{{ dump(product) }}#}
	{% if product.is_stock_available == 0 %}
		{% set stock_available_style = "background-color: #FF9980" %} 
	{% else  %}
		{% set stock_available_style = "background-color: #99E699" %} 
	{% endif%}
	{#{% if product.is_preorder == 1 %}
		{% set stock_available_style = "background-color: orange" %}
	{% endif %}#}
	<tr style="{{stock_available_style}}">
		<td>{#{{ product.id }}#}  
			{% if product.is_stock_available %}
				<a href="{{base_url('admin/products/changeavailability')}}/{{product.id}}/0" title="goods will be supplied">
				<span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
				</a>
			{% else %}
				<a href="{{base_url('admin/products/changeavailability')}}/{{product.id}}/1" title="goods will NOT be supplied">
				<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
				</a>
			{% endif %}
			{% if product.comment_count > 0 %}
				<a href="{{ base_url('admin/products/load_comments/' ~ product.id) }}" data-role="toggle-comments" title="comments">
					<span><i class="glyphicon glyphicon-comment unread-count" data-count="{{ product.comment_count }}"></i></span>
				</a>
				
			{% endif %}			
		</td>
		<td>
			{% if product.imagefile == null %}
				<img width="100px" src="{{ base_url('assets/admin/images/no_image.png') }}" />
			{% elseif product.is_branded == 0 %}
				<a href="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_resized{{product.imagefile_ext}}">
					<img width="100px" src="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_thumb{{product.imagefile_ext}}"/>
				</a>
				<br />
				<a href={{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_resized{{product.imagefile_ext}} download>
					download
				</a>
			{% else %}
				<a href="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}{{product.imagefile_ext}}">
					<img width="100px" src="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_thumb{{product.imagefile_ext}}" />
				</a>
				<br />
				<a href={{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_resized{{product.imagefile_ext}} download>
					download
				</a>
			{% endif %}
		</td>
		<td>{{ product.date_added | date('d F Y H:i') }}</td>
		<td>{{ product.code }}</td>
		<td>{{ product.name }} <br /> 
				bust/top length/pants length <br />
			{% if product.desc_xs is not null and product.desc_xs is not empty %}
				XS: {{ product.desc_xs }} <br />
			{% endif %}
			{% if product.desc_s is not null and product.desc_s is not empty %}
				S: {{ product.desc_s }} <br />
			{% endif %}
			{% if product.desc_m is not null and product.desc_m is not empty %}
				M: {{ product.desc_m }} <br />
			{% endif %}
			{% if product.desc_l is not null and product.desc_l is not empty %}
				L: {{ product.desc_l }} <br />
			{% endif %}
			{% if product.desc_xl is not null and product.desc_xl is not empty %}
				XL: {{ product.desc_xl }} <br />
			{% endif %}
			{% if product.desc_xxl is not null and product.desc_xxl is not empty %}
				XXL: {{ product.desc_xxl }} <br />
			{% endif %}
			{% if product.desc_xxxl is not null and product.desc_xxxl is not empty %}
				XXXL: {{ product.desc_xxxl }} <br />
			{% endif %}
		</td>
		<td>{{ product.onsale }}</td>
		<td>{{ product.category }}</td>
		<td>{{ product.total_quantity }}</td>
		<td>{{ product.quantity_xs }}</td>
		<td>{{ product.quantity_s }}</td>
		<td>{{ product.quantity_m }}</td>
		<td>{{ product.quantity_l }}</td>
		<td>{{ product.quantity_xl }}</td>
		<td>{{ product.quantity_xxl }}</td>
		<td>{{ product.quantity_xxxl }}</td>
		
		<td>{{ product.supplier }}</td>
		<td>{{ product.price_eur }}</td>
		<td>{{ product.price_lei }}</td>
		<td>{{ product.price_bgn }}</td>
		<td>
			{{ crud_action('admin/products/edit', product.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/products/delete', product.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}

{% block table_footer %}
	{{ pagination | raw }}
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript" src="{{ base_url('assets/admin/js/mangusta_comments.js') }}"></script>
	
{% endblock %}