{% extends "admin/layouts/crud.html.twig" %}

{% block body %}
	<div class="container">
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
			{{ block('image') }}
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
			{{ block('product_data') }}
		</div>
		<div class="clearfix visible-lg"></div>
	</div>
{% endblock %}

{% block image %}
	{% if product.imagefile == null %}
		<img src="{{ base_url('assets/admin/images/no_image.png') }}" />
	{% elseif product.is_branded == 0 %}
		<a href={{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_resized{{product.imagefile_ext}}>
			<img width="320px" src="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_resized{{product.imagefile_ext}}" />
		</a>
	{% else %}
		<a href={{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}{{product.imagefile_ext}}>
			<img width="320px" src="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}{{product.imagefile_ext}}" />
		</a>
	{% endif %}
	<div class="row text-center">
		<a href="{{ base_url('admin/products/p') }}/{{ previous }}" id="prev">Previous</a>
		<a href="{{ base_url('admin/products/p') }}/{{ next }}" id="next">Next</a>
	</div>
	<form name="jump_form" target="{{ base_url('admin/products/p') }}" method="post">
		<br />
		<input name="code" type="text" style="width: 90%;" placeholder="Jump To" type="text" name="jump" class="form-control input-sm" /><br />
		<input type="submit" class="btn btn-primary" value="Jump To"/>
	</form>
{% endblock %}

{% block product_data %}
<div name="product_data">
	<p>
		<h4>Code: {{ product.code }}</h4>
		<h4>Name: {{ product.name }}</h4>
		<h4>Category: <a href="#" id="{{ product.id }}-category" data-type="select" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.category }}</a></h4>
		<h4>Storage Location: <a href="#" id="{{ product.id }}-location" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.location }}</a></h4>
		<h4>Weight(use . ): <a href="#" id="{{ product.id }}-weight" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.weight }}</a></h4>
		<h4>Fit: <a href="#" id="{{ product.id }}-fit" data-type="select" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.fit }}</a></h4>
		<h4>Colors: <a href="#" id="{{ product.id }}-colors" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.colors }}</a></h4>
		<h4>Sizes: </h4>
			<table>
					<tr>
						<td>Name</td>
						<td>&nbsp;&nbsp;Descr</td>
						<td>Quantity</td>
					</tr>
				{% for size in product.sizes %}
					<tr>
						<td>{{ size.name }}</td>
						<td>&nbsp;&nbsp;<a href="#" id="{{ product.id }}-sizedesc-{{ size.size_id }}" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ size.description }}</a></td>
						<td>&nbsp;&nbsp;<a href="#" id="{{ product.id }}-quantity_{{ size.name|lower }}" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ size.quantity }}</td>
					</tr>
				{% endfor %}
			</table>
		<h4>Prices: BGN: <a href="#" id="{{ product.id }}-price_bgn" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.price_bgn }}</a>; 
					EUR: <a href="#" id="{{ product.id }}-price_eur" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.price_eur }}</a>; 
					LEI: <a href="#" id="{{ product.id }}-price_lei" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.price_lei }}</a>;</h4>
		
		{% if (product.price_stock_bgn == 0 or product.price_stock_bgn == 1) %}
			<h4 style="color: red; font-weight: bold">Stock Prices: 
				BGN: <a href="#" id="{{ product.id }}-price_stock_bgn" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title=""></a>;
				{# EUR: <a href="#" id="{{ product.id }}-price_stock_eur" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.price_stock_eur }}</a>; #}
				{# LEI: <a href="#" id="{{ product.id }}-price_stock_lei" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.price_stock_lei }}</a>; #}
		{% else %}
			<h4>Stock Prices: 
				BGN: <a href="#" id="{{ product.id }}-price_stock_bgn" data-type="text" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.price_stock_bgn }}</a>;
		{% endif %}</h4>
		
		<h4>Fabric: <a href="#" id="{{ product.id }}-fabric" data-type="select" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.fabric }}</a></h4>
		<h4>Quality: <a href="#" id="{{ product.id }}-quality" data-type="select" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.quality }}</a></h4>
		<h4>Cuffs: <a href="#" id="{{ product.id }}-cuffs" data-type="select" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.cuffs }}</a></h4>
		<h4>Incorrect Size: <a href="#" id="{{ product.id }}-size_incorrect" data-type="select" data-pk="{{ product.id }}" data-url="{{base_url('admin/products/ppost/')}}" data-title="">{{ product.size_incorrect }}</a></h4>
	</p>
</div>
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
		var source1 = [{% for supplier in suppliers %}
						{'value': '{{supplier}}', 'text': '{{supplier}}'},
						{% endfor %}
						],
			source2 = [{% for category in categories %}
						{'value': '{{category}}', 'text': '{{category}}'},
						{% endfor %}
						],
			source3 = [{% for fabric in fabrics %}
						{'value': '{{fabric}}', 'text': '{{fabric}}'},
						{% endfor %}
						],
			source4 = [{% for f in fit %}
						{'value': '{{f}}', 'text': '{{f}}'},
						{% endfor %}
						],
			source5 = [{% for cuff in cuffs %}
						{'value': '{{cuff}}', 'text': '{{cuff}}'},
						{% endfor %}
						],
			source6 = [{% for size_inc in size_incorrect %}
						{'value': '{{size_inc}}', 'text': '{{size_inc}}'},
						{% endfor %}
						],
			source7 = [{% for qua in quality %}
						{'value': '{{qua}}', 'text': '{{qua}}'},
						{% endfor %}
						];
						
		$(document).keydown(function(ev){
				if($('*:focus').length == 0){
					if(ev.which==37)
						document.getElementById("prev").click();
					if(ev.which==39)
						document.getElementById("next").click();
				}
			});
		
		$(document).ready(function() {
			$.fn.editable.defaults.mode = 'inline';
			
			$('#{{ product.id }}-price_eur').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-price_lei').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-price_bgn').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-price_stock_bgn').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-price_stock_eur').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-price_stock_lei').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-location').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-fabric').editable({
				pk: {{ product.id }}, 
				value: '{{product.fabric}}',
				source: function(){
					return source3;
				},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-cuffs').editable({
				pk: {{ product.id }}, 
				value: '{{product.cuffs}}',
				source: function(){
					return source5;
				},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-size_incorrect').editable({
				pk: {{ product.id }}, 
				value: '{{product.size_incorrect}}',
				source: function(){
					return source6;
				},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-weight').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			
			$('#{{ product.id }}-fit').editable({
				pk: {{ product.id }}, 
				value: '{{product.fit}}',
				source: function(){
					return source4;
				},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-quality').editable({
				pk: {{ product.id }}, 
				value: '{{product.quality}}',
				source: function(){
					return source7;
				},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			$('#{{ product.id }}-colors').editable({
				pk: {{ product.id }},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			
			$('#{{ product.id }}-category').editable({
				pk: {{ product.id }}, 
				value: '{{product.category}}',
				source: function(){
					return source2;
				},
				error: function(response, newValue) {
					if(response.status === 403) {
						return 'insufficient rights';
					} else {
						return response.responseText;
					}
				}
			});
			
			{% for size in product.sizes %}
				$('#{{ product.id }}-sizedesc-{{ size.size_id }}').editable({
					pk: {{ product.id }},
					error: function(response, newValue) {
						if(response.status === 403) {
							return 'insufficient rights';
						} else {
							return response.responseText;
						}
					}
				});
				$('#{{ product.id }}-quantity_{{ size.name|lower }}').editable({
					pk: {{ product.id }},
					error: function(response, newValue) {
						if(response.status === 403) {
							return 'insufficient rights';
						} else {
							return response.responseText;
						}
					}
				});
			{% endfor %}
			//document.getElementById("{{ product.id }}-price_stock_bgn").click(); //just temp
		});
	</script>
{% endblock %}