{% extends "admin/layouts/crud.html.twig" %}

{% block body %}
	<div class="container">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
			{{ block('allimages') }}
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
			{{ block('image') }}
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			{{ block('product_data') }}
		</div>
		<div class="clearfix visible-lg"></div>
	</div>
{% endblock %}

{% block allimages %}
	{% for image in images %}
		<a href="{{ image.url }}" download>
			<img width="80px" src="{{ image.url }}" />
		</a>
	{% endfor %}
{% endblock %}

{% block image %}
	{% if product.imagefile == null %}
		<img src="{{ base_url('assets/admin/images/no_image.png') }}" />
	{% elseif product.is_branded == 0 %}
		<a href={{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_resized{{product.imagefile_ext}} download>
			<img width="100%" src="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}_resized{{product.imagefile_ext}}" />
		</a>
	{% else %}
		<a href={{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}{{product.imagefile_ext}} download>
			<img width="100%" src="{{ base_url('uploads') }}/{{product.id}}/{{product.imagefile}}{{product.imagefile_ext}}" />
		</a>
	{% endif %}
	<a href="{{ base_url('admin/products/productinfo') }}/{{ previous_series }}" id="prev">Previous {{ series }}</a> | 
	<a href="{{ base_url('admin/products/productinfo') }}/{{ next_series }}" id="next">Next {{ series }}</a>
	<p>(Navigate with left and right arrow keys)</p>
	<form name="jump_form" method="post">
		<br />
		<input name="code" type="text" style="width: 100%;" placeholder="Jump To" type="text" name="jump" class="form-control input-sm" /><br />
		<input type="submit" class="btn btn-primary" value="Jump To"/>
	</form>
	<div class="row">
		<p>Next Six {{ series }} Products</p>
		{% for next in next_six %}
			<div class="col-lg-4 col-md-4 col-sm-4">
				<a href="{{ base_url('admin/products/productinfo') }}/{{ next.id }}">
					{% if next.imagefile == null %}
						<img src="{{ base_url('assets/admin/images/no_image.png') }}" />
					{% else %}
							<img width="100%" src="{{ base_url('uploads') }}/{{next.id}}/{{next.imagefile}}_resized{{next.imagefile_ext}}" />
					{% endif %}
					<br />
					{{next.code}}
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<p>Previous Six {{ series }} Products</p>
		{% for previous in previous_six %}
			<div class="col-lg-4">
				<a href="{{ base_url('admin/products/productinfo') }}/{{ previous.id }}">
					{% if previous.imagefile == null %}
						<img src="{{ base_url('assets/admin/images/no_image.png') }}" />
					{% else %}
						<img width="100%" src="{{ base_url('uploads') }}/{{previous.id}}/{{previous.imagefile}}_resized{{previous.imagefile_ext}}" />
					{% endif %}
					<br />
					{{previous.code}}
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block product_data %}
<div name="product_data">
	<p>
		<h4>Code: {{ product.code }}</h4>
		<h4>Name: {{ product.name }}</h4>
		<h4>Category: {{ product.category }}</h4>
		<h4>Weight: {{ product.cweight }}</h4>
		<h4>Colors: {{ product.colors }}</h4>
		
		<h4>Fit: {{ product.fit }}</h4>
		<h4>Incorrect Size: {{ product.size_incorrect }}</h4>
		<h4>Sizes: </h4>
			<table>
					<tr>
						<td>Quantity&nbsp;&nbsp;</td>
						<td>Name&nbsp;&nbsp;</td>
						<td>Descr&nbsp;&nbsp;</td>
					</tr>
				{% for size in product.sizes %}
					<tr>
						<td>&nbsp;&nbsp;{{ size.quantity }}</td>
						<td>{{ size.name }}</td>
						<td>{{ size.cdescription }}</td>
					</tr>
				{% endfor %}
			</table>
		<h4>Prices: BGN: {{ product.price_bgn }}; 
					EUR: {{ product.price_eur }}; 
					LEI: {{ product.price_lei }};
					HRK: {{ product.price_hrk }};
					HUF: {{ product.price_huf }};</h4>
		<h4>Fabric: {{ product.fabric }}</h4>
		<h4>Quality: {{ product.quality }}</h4>
		<h4>Cuffs: {{ product.cuffs }}</h4>
	</p>
</div>
{% endblock %}

{% block custom_javascripts %}
	<script type="text/javascript">
						
		$(document).keydown(function(ev) {
				if(ev.which==37)
					document.getElementById("prev").click();
				if(ev.which==39)
					document.getElementById("next").click();
			});
		
	</script>
{% endblock %}