{% extends 'admin/layouts/crud.html.twig' %}



{% set LIST_TITLE = title %}

{% set LIST_COLUMNS = ['Product id', 'Product code', 'Sold last month', 'Available stock', 'Monthly Speed', 'Days until sold out', 'First order','Last Order', 'Orders span'] %}

{% block table_body %}

    <tr>
      <p><a href="https://cms.flameflame.eu/pma/sql.php?db=jarafph4_cms&table=monthly_pr_speed_view&pos=0"> Link to table in phpMyAdmin </a></p>

      {#
      <p>
        <a href="{{ site_url('admin/facebook/fap/create') }}" type="button" class="btn btn-primary">Create post</a>
	      <a href="{{ site_url('admin/facebook/auto_fap') }}" type="button" class="btn btn-primary">FAP by total</a>
	      <a href="{{ site_url('admin/facebook/auto_fap_st') }}" type="button" class="btn btn-primary">FAP by code</a>
	      <a href="{{ site_url('admin/facebook/indexByBrand') }}" type="button" class="btn btn-primary">List brands</a>
      </p>
      #}
    </tr>

    {% for product in pr_speed_array %}
        <tr>
          <td style="width: 5%;"> {{ product.id }}</td>
          <td style="width: 5%;"> {{ product.code }}</td>
          <td style="width: 5%;"> {{ product.sold_last_month }}</td>
          <td style="width: 5%;"> {{ product.available_stock }}</td>
          <td style="width: 5%;"> {{ product.monthly_product_speed }}</td>
          <td style="width: 5%;"> {{ product.days_until_sold_out }}</td>
          <td style="width: 10%;"> {{ product.first_order }}</td>
          <td style="width: 10%;"> {{ product.last_order }}</td>
          <td style="width: 10%;"> {{ product.date_diff }}</td>
          <td style="width: 40%;">  </td>
          {#
          <td>  {% if post.is_uploaded %} <span class="text-success">YES</span> {% else %} <span class="text-danger">NO</span> {% endif %}</td>
          <td> {{ crud_action('admin/facebook/manage', post.id, 'Manage record', 'btn btn-info btn-xs') }} </td>
          #}
        </tr>
    {% endfor %}

{% endblock %}
