{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Tags' %}
{% set LIST_COLUMNS = ['ID', 'Title'] %}

{% block table_body %}
{% for tag in tags %}
	<tr>
		<td>{{ tag.id }}</td>
		<td>{{ tag.title }}</td>
		<td>
			{{ crud_action('admin/tags/edit', tag.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/tags/delete', tag.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}
