{% for item in comments %}
	<div class="box box-warning">
		<div class="box-header with-border">
			<div class="pull-left">@{{ item.by_user }}</div>
			<div class="pull-right">{{ item.created_at | date('m.d.Y H:i') }}</div>
		</div>
		<div class="box-body">
			{{ item.comment | raw }}
		</div>
	</div>
{% endfor %}