{% if current_controller != 'login' %}

	<header class="main-header">
		<nav class="navbar navbar-static-top">
			<div class="">
				<div class="navbar-header">
					<a href="file:///home/chavdar/Downloads/AdminLTE-2.3.0/index2.html" class="navbar-brand"><b>Mangusta</b>Dresses</a>
					<button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div style="height: 1px;" aria-expanded="false" class="navbar-collapse pull-left collapse" id="navbar-collapse">
					<ul class="nav navbar-nav">
						{% for item in get_navigation() %}
							{% set class = [] %}
							{% if item.children is defined %}
								{% set class = class | merge(['dropdown']) %}
							{% endif %}
							{% if item.is_active %}
								{% set class = class | merge(['active']) %}
							{% endif %}
							
							<li class="{{ class | join(' ') }}">
								{% if item.children is defined and item.children | length %}
									<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
										{{ item.label }}
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">
										{% for child in item.children %}
											{% if child.is_separator %}
												<li role="separator" class="divider"></li>
											{% else %}
												<li{% if child.is_active %} class="active"{% endif %}>{{ anchor(child.path, child.label) }}</li>
											{% endif %}
										{% endfor %}
									</ul>
								{% else %}
									{{ anchor(item.path, item.label) }}
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
                                                                {% if session_has('admin_user') %}
                                                                    {{ session('admin_user')['name'] }}
                                                                {% endif %}
							</a>
						</li>
						<li>
							<a href="{{ site_url('admin/login/logout') }}">
								<i class="glyphicon glyphicon-log-out"></i>
								Logout
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
{% endif %}
