{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Manage todo-item</h3>
			</div>
			{{ form_open() }}
				<div class="box-body">
					{% if validation_errors | length %}
					<div class="alert alert-danger">
						{{ validation_errors | raw }}
					</div>
					{% endif %}
					<div class="form-group">
						{{ form_label('Title') }}
						{{ form_input({'class': 'form-control', 'name': 'title', 'value': object.title}) }}
					</div>
					<div class="form-group">
						{{ form_label('Description') }}
						{{ form_textarea({'class': 'form-control', 'name': 'description'}, set_value('description', object.description)) }}
					</div>
					<div class="form-group">
						{{ form_label('Assign to') }}
						{{ form_dropdown({'class': 'form-control', 'name': 'assigned_to_id'}, users_choices, object.assigned_to_id) }}
					</div>
					<div class="form-group">
						{{ form_label('Status') }}
						{{ form_dropdown({'class': 'form-control', 'name': 'status'}, status_choices, object.status) }}
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			{{ form_close() }}
		</div>
	</div>
</div>
{% endblock %}
