{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Todo-list' %}
{% set LIST_COLUMNS = ['ID', 'Title', 'Assigned to', 'Status', 'Created', 'Actions'] %}

{% block table_body %}
{% for item in todo_collection %}
	<tr>
		<td>{{ item.id }}</td>
		<td>{{ item.title }}</td>
		<td>{{ item.assigned_to }}</td>
		<td>{{ crud_get_status_for_todo(item.status) }}</td>
		<td>{{ item.created_at }}</td>
		<td>
			{{ crud_action('admin/todo/edit', item.id, 'Edit record', 'btn btn-warning btn-xs') }}
			{{ crud_action('admin/todo/idelete', item.id, 'Delete record', 'btn btn-danger btn-xs') }}
		</td>
	</tr>
{% endfor %}
{% endblock %}