{% extends 'admin/layouts/crud.html.twig' %}

{% set LIST_TITLE = 'Schedule' %}

{% block body %}
    <style>
        img.profimg {
            margin-bottom: 2px;
            border-radius: 20%;
            max-width: 48%;
            max-height: 48%;
        }

        img.me {
            opacity: 0.2;
            max-width: 100%;
            max-height: 100%;
            border-radius: 20%;
            filter: grayscale(100%);
        }

        div.prof {
            width: 90px;
            height: 90px;
            border-radius:20%;
            overflow: hidden;
        }

        .weekdown{
            position: relative;
            display: inline;
        }

        .weekdown::before{
            position: absolute;
            content: " \2193";
            top: 0px;
            right: -8px;
            height: 20px;
            width: 20px;
        }
    </style>
    <div class="weekdown">Week: <input type="text" class="week-picker" required="required" name="scheduledate" value="{{ startDate }}/{{ endDate }}"/></div>
    {% if confirmed != '1' %}
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/schedule/confirm_schedule/" class="btn btn-primary" style="margin-bottom: 10px" type="submit">Confirm  My Schedule for this week</a>
    <h4 style="color: red;">Please fill up and confirm your schedule for this week, so you can be able to use the system properly.</h4>
    {% endif %}
    <br />
	{% include 'admin/schedule/schedule_table.twig' %}
{% endblock %}

{% block custom_javascripts %}
<script>
    var startDate = '{{ startDate }}';
    var endDate = '{{ endDate }}';

    $('.agent-picture').click( function(e){

        setTimeout($.ajax({
            type: 'POST',
            url: "https://cms.flameflame.eu/admin/schedule/userclick/"+this.id,
            data: {
                startDate: startDate,
                endDate: endDate
                }
        }).done(function(data){
            $('body').html(data);
        }), 50);
        
    });

	$(function(){

        var mon;
        var sun;

        var selectCurrentWeek = function() {
            window.setTimeout(function () {
                $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
            }, 1);
        }

		$('.week-picker').datepicker({
            firstDay: 1,
			showOtherMonths: false,
			selectOtherMonths: false,
			onSelect: function(dateText, inst) {
                var date = $(this).datepicker('getDate');
                mon = $(this).datepicker('getDate');
                mon.setDate(mon.getDate() + 1 - (mon.getDay() || 7));
                sun = new Date(mon.getTime());
                sun.setDate(sun.getDate() + 6);
				var dateFormat = "yy-mm-dd";
                startDate = $.datepicker.formatDate(dateFormat, mon, inst.settings);
                endDate = $.datepicker.formatDate(dateFormat, sun, inst.settings);

                setTimeout($.ajax({
                    type: 'POST',
                    url: "https://cms.flameflame.eu/admin/schedule/pickweek/",
                    data: {
                        startDate: startDate,
                        endDate: endDate
                        }
                }).done(function(data){
                    $('body').html(data);//.done(alert("Data: " + data + "\nStatus: " + status));
                }), 50);

				$('.week-picker').val($.datepicker.formatDate(dateFormat, mon, inst.settings)
					+ '/' + $.datepicker.formatDate(dateFormat, sun, inst.settings));
				
				selectCurrentWeek();
			},
			beforeShow: function(){
				selectCurrentWeek();
			},
			beforeShowDay: function(date){
				var cssClass = '';
				if(date >= mon && date <= sun)
					cssClass = 'ui-datepicker-current-day';
				return [true, cssClass];
			},
			onChangeMonthYear: function(year, month, inst){
				selectCurrentWeek();
			}
		});
		
        $('.ui-datepicker-calendar tr').on('mousemove', function() { jQuery(this).find('td a').addClass('ui-state-hover'); });
        $('.ui-datepicker-calendar tr').on('mouseleave', function() { jQuery(this).find('td a').removeClass('ui-state-hover'); });
	});
</script>
{% endblock %}