<table class="table table-striped table-bordered table-hover table-condensed" style="width: 860px;">
    {% set days = [ '', '', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday' ] %}
    {% for col in (schedule | first) %}
        {% set indy = loop.index %}
        <th>{{ col }}<br />{{ days[indy] }}</th>
    {% endfor %}
        <th>Hours</th>

    {% for row in schedule[1:] %}
        {% set tr = loop.index %}
        <tr>
            <td>{{ row | first }}h</td>
            {% for col in row[1:] %}
                {% set tc = loop.index %}
                {% if col == 'empty' %}
                    <td><div href="" id="{{tr}}-{{tc}}" class="agent-picture"><div class="prof"><img src="{{ base_url('uploads') }}/users/{{ user.id }}.jpg" class="me" alt="{{ col }}"/></div></div></td>
                {% else %}
                    <td><div href="" id="{{tr}}-{{tc}}" class="agent-picture"><div class="prof">
                        {% for agent in col %}
                            <img src="{{ base_url('uploads') }}/users/{{ agent }}.jpg" class="profimg" alt="{{ agent }}"/>
                        {% endfor %}
                    </div></div></td>
                {% endif %}
            {% endfor %}
            <td>{{ row | first }}h</td>
        </tr>
    {% endfor %}
</table>