<table cellpadding="5" cellspacing="5" border="0">
<!-- startBlock(products) -->  
	<tr>
		<td valign="top"><a href="{absolute}upload/large/{file}"><img src="{absolute}upload/thumbs/{file}" alt="{name}" /></td>
		<td valign="top">
			<h3>{code}</h3>
			<div>{name}</div>
		</td>
		<td valign="top">
			<!-- startBlock(quantities) -->
			<div>[{size}]x <b>{quantity}</b></div>
			<!-- endBlock(quantities) -->
		</td>
	</tr>
<!-- endBlock(products) -->
</table>
