<h2>User actions</h2>
<table cellpadding="0" cellspacing="0" style="width:100%">
	<tr>
		<th style="width: 20%">Date</th>
<!--		<th style="width: 20%">User</th>-->
		<th style="width: 30%">Location</th>
		<th>Details</th>
	</tr>
<!-- startBlock(users_actions) -->
	<tr>
		<td>{date_str}</td>
<!--		<td>{name}</td>-->
		<td><img src="images/{operation}.png" alt="{operation}" />{location}</td>
		<td>
			<!-- startBlock(details) -->
			<div><strong>{field}</strong> » {value}</div>
			<!-- endBlock(details) -->
		</td>
	</tr>
<!-- endBlock(users_actions) -->
</table>
{pagination}
