<form enctype="multipart/form-data" action="" method="post" name="form" />
<input type="hidden" name="token" value="{token}" />
<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<div>Username</div>
			<div><input type="text" name="username" /></div>
		</td>
	</tr>
	<tr>
		<td>
			<div>Password</div>
			<div><input type="password" name="password" /></div>
		</td>
	</tr>
	<tr>
		<td><input class="button" type="submit" name="login" value="Login"></td>
	</tr>
</table>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		$("input[type='text']:first", document.forms[0]).focus();
	});
</script>