<form enctype="multipart/form-data" action="" method="post" />
	<input type="hidden" name="id" value="{id}" />
	<input type="hidden" name="order_id" value="{order_id}" />

	<label>Size</label>
	<select name="size">
		<option value="0">--</option>
		<!-- startBlock(sizes) -->
		<option value="{id}"{ifset:selected: selected="selected"}>{name}</option>
		<!-- endBlock(sizes) -->
	</select>

	<label>Quantity</label>
	<div><input type="text" name="quantity" value="{quantity}" /></div>

	<input type="submit" name="submit" class="button" value="Update">
</form>

