<form method="get" id="search">
	<input type="hidden" name="act" value="orders" />
	<input style="width: 80%" id="search_autocomplete" type="text" name="search" value="{search}" placeholder="Enter search criteria" />
	<input style="width: 10%" type="submit" class="button" value="Search" />
</form>

<form method="post">
	<table cellpadding="0" id="orders" cellspacing="0" class="orders" style="width: 100%;">
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>Date</th>
			<th>Products</th>
			<th>Phone</th>
			<th>Names</th>
			<th>Country</th>
			<th>Postal code</th>
			<th>City</th>
			<th>Address</th>
			<th>Delivery cost</th>
			<th>Discount</th>
			<th>Total</th>
			<th>Notes</th>
		</tr>
	<!-- startBlock(orders) -->
		<tr{color}>
			<td nowrap="nowrap" valign="top">
				<input class="checkbox" type="checkbox" name="orders[{id}]" />
			</td>
			<td nowrap="nowrap" valign="top">
				<!--<a href="index.php?act=orders&toggle&id={id}"><img src="images/default{done}.png" alt="Status" /></a>-->
				{ifset:menu_orders_color:
				<a class="keep_scroll" href="index.php?act=orders&color=green&id={id}"><img src="images/green.jpg" alt="OK" /></a>
				<a class="keep_scroll" href="index.php?act=orders&color=red&id={id}"><img src="images/red.jpg" alt="Wrong buyer data" /></a>
				<a class="keep_scroll" href="index.php?act=orders&color=gray&id={id}"><img src="images/gray.jpg" alt="Returned order" /></a>
				<a class="keep_scroll" href="index.php?act=orders&color=purple&id={id}"><img src="images/purple.jpg" alt="Problem with the dress" /></a>
				}
				{ifset:menu_orders_edit:
					<a href="index.php?act=orders&edit&id={id}&search={search}"><img src="images/edit.png" alt="Редактиране" /></a>
					<a href="https://mail.google.com/mail/?view=cm&fs=1&to={buyer_email}"><img src="images/email.png" alt="E-Mail" /></a>
				}
				{ifset:menu_orders_delete:<a href="index.php?act=orders&delete&id={id}" onclick="javascript:return confirm('Сигурни ли сте, че желаете да изтриете тази поръчка?');"><img src="images/delete.png" alt="Delete" /></a>}
			</td>
			<td nowrap="nowrap" valign="top">{added} <span title="{added_user_full}">[{added_user}]</span></td>
			<td nowrap="nowrap" valign="top">
				<!-- startBlock(products) -->
				<div><a class="keep_scroll" href="index.php?act=orders&toggle&id={order_detail_id}"><img src="images/default{notified}.png" alt="" /></a><strong>{quantity}x[{size}]</strong> {code}</div>
				<!-- endBlock(products) -->
			</td>
			<td valign="top">
				<span{ifeq:phone:{w_phone}: style="background: yellow;"}{ifeq:phone:{b_phone}: style="background: red;"}>{phone}<span>
			</td>
			<td valign="top">
				<span{ifeq:buyer_names:{w_buyer_names}: style="background: yellow;"}{ifeq:buyer_names:{b_buyer_names}: style="background: red;"}>{buyer_names}<span>
			</td>
			<td valign="top">{country}</td>
			<td valign="top">{post_code}</td>
			<td valign="top">{city}</td>
			<td valign="top">{address}</td>
			<td valign="top">{delivery_costs}</td>
			<td valign="top">{discount}%</td>
			<td nowrap="nowrap" valign="top">{total}</td>
			<td valign="top">
				<div class="edit_area" id="{id}">{notes}</div>
			</td>
		</tr>
	<!-- emptyBlock(orders) -->
		<tr>
			<td colspan="14">No results.</td>
		</tr>
	<!-- endBlock(orders) -->
	</table>
	{pagination}
	<div>
		<input type="submit" name="csv" value="CSV от избраните" class="button" style="width: auto;" />
		<hr />
		<select name="colorpick" style="width: auto;">
			<option></option>
			<option value="green">Green</option>
			<option value="red">Red</option>
			<option value="gray">Gray</option>
			<option value="purple">Purple</option>
		</select>
		<input type="submit" name="color" value="Смени цвят" class="button" style="width: auto;" />
	</div>
</form>

<script type="text/javascript">
$(document).ready(function() {
	$(".edit_area").editable("index.php?act=orders&save_note", {
		loadurl   : "index.php?act=orders&load_note",
//		type      : "textarea",
//		submit    : "OK",
//		cancel    : "Cancel",
		onblur: 'submit'
//		tooltip   : "Click to edit..."
	});
	$('#orders tr').click(function(event) {
		if (event.target.type !== 'checkbox' && event.target.type !== 'submit' && event.target.type !== 'cancel') {
			$(':checkbox', this).trigger('click');
		}
	});
	$('.keep_scroll').click(function(e) {
		e.preventDefault();
		var old_href = $(this).attr('href');
		var scroll = $(window).scrollTop();
		var new_href = old_href+'&scroll='+scroll;
		$(location).attr('href',new_href);
	});
});
</script>

<div>
<br /><br /><b>Legend</b><br />
<img src="images/green.jpg" alt="OK" /> Order is sent successfully<br />
<img src="images/red.jpg" alt="Wrong buyer data" /> Wrong buyer data<br />
<img src="images/gray.jpg" alt="Returned order" /> Returned order<br />
<img src="images/purple.jpg" alt="Problem with the dress" /> Problem with the item (e.g. not available)<br />
<span style="height: 10px; width: 10px; background: #8B0000;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Name and phone number match<br />
</div>
