<div id="product_form" class="hidden">
	<fieldset>
		<legend><span></span> <a href="#" class="remove_product"><img src="images/delete.png" alt="" /></a></legend>
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
			<tr>
				<td valign="top" style="width: 20%">
					<div class="picture"></div>
				</td>
				<td valign="top" style="width: 60%">
					<label>Product</label>
					<input type="text" class="search_autocomplete" name="products[]" placeholder="Input product code"/>
					<div class="product_code">Code: <span></span></div>
					<div class="product_price">Price: <span></span></div>
					<div class="product_info">Description: <span></span></div>
					<div class="product_quantities">Quantities: <span></span></div>
					<div class="product_instock">In stock: <span></span></div>
				</td>
				<td valign="top" style="width: 20%; text-align: right;">
					<!-- startBlock(sizes) -->
					<div><span class="size_name">{name}</span><input type="text" name="quantities[{id}][]" value="0" style="width: 40px;"/></div>
					<!-- endBlock(sizes) -->
				</td>
			</tr>
		</table>
	</fieldset>
</div>

<form enctype="multipart/form-data" action="" method="post" />
	<h2>Buyer</h2>

	<div class="double_cols">
		<div>
			<label>Names</label>
			<input type="text" name="buyer_names" value="{buyer_names}" />
		</div>
		<div>
			<label>E-Mail</label>
			<input type="text" name="buyer_email" value="{buyer_email}" />
		</div>
	</div>

	<div class="double_cols">
		<div>
			<label>Payment</label>
			<select name="payment_method">
				<option value="on_delivery"{ifeq:payment_method:on_delivery: selected="selected"}>On delivery</option>
				<option value="credit_card"{ifeq:payment_method:credit_card: selected="selected"}>Credit card</option>
				<option value="paypal"{ifeq:payment_method:paypal: selected="selected"}>PayPal</option>
				<option value="wire"{ifeq:payment_method:wire: selected="selected"}>Wire transfer</option>
			</select>
		</div>
		<div>
			<label>Country</label>
			<select name="country">
				<option value="0">--</option>
				<!-- startBlock(countries) -->
				<option value="{id}"{ifset:selected: selected="selected"}>{name}</option>
				<!-- endBlock(countries) -->
			</select>
		</div>
	</div>

	<div class="double_cols">
		<div>
			<label>Postal code</label>
			<input type="text" name="post_code" value="{post_code}" />
		</div>
		<div>
			<label>City</label>
			<input type="text" name="city" value="{city}" />
		</div>
	</div>

	<div class="double_cols">
		<div>
			<label>Address</label>
			<input type="text" name="address" value="{address}" />
		</div>
		<div>
			<label>Phone</label>
			<input type="text" name="phone" value="{phone}" />
		</div>
	</div>
	<a id="check_in_google" href="#" target="_blank"><img src="images/world.png" alt="" />Check in Google Maps</a>

	<h2>Order</h2>

	<!-- startBlock(post_products) -->
	<div>
		<fieldset>
			<legend>Product {i} <a href="#" class="remove_product"><img src="images/delete.png" alt="" /></a></legend>
			<table cellspacing="0" cellpadding="0" style="width: 100%;">
				<tr>
					<td valign="top" style="width: 20%">
						<div><img src="../upload/thumbs/{file}" alt="" /></div>
					</td>
					<td valign="top" style="width: 60%">
						<div>
							<input type="hidden" name="products[]" value="{id}" />
							<div><span>{code}</span></div>
							<div>Price: <span>{price} {currency}</span></div>
							<div>Description: <span>{name}</span></div>
						</div>
					</td>
					<td valign="top" style="width: 20%; text-align: right;">
						<!-- startBlock(post_sizes) -->
						<div><span class="size_name">{name}</span><input type="text" name="quantities[{id}][]" value="{quantity}" style="width: 40px;"/></div>
						<!-- endBlock(post_sizes) -->
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<!-- endBlock(post_products) -->

	<p><a href="#" id="add_product"><img src="images/add.png" alt="" /> Add a product</a></p>

	<label>Delivery costs</label>
	<div><input type="text" name="delivery_costs" value="{delivery_costs}" /></div>

	<label>Discount (%)</label>
	<div><input type="text" name="discount" value="{discount}" /></div>

	<label>Notes</label>
	<div><textarea name="notes">{notes}</textarea></div>

	<input type="submit" name="submit" class="button" value="Add">
</form>

