<form enctype="multipart/form-data" action="" method="post" />
	<input type="hidden" name="id" value="{id}" />

	<h2>Buyer</h2>

	<div class="double_cols">
		<div>
			<label>Names</label>
			<input type="text" name="buyer_names" value="{buyer_names}" />
		</div>
		<div>
			<label>E-Mail</label>
			<input type="text" name="buyer_email" value="{buyer_email}" />
		</div>
	</div>

	<div class="double_cols">
		<div>
			<label>Payment</label>
			<select name="payment_method">
				<option value="on_delivery"{ifeq:payment_method:on_delivery: selected="selected"}>On delivery</option>
				<option value="credit_card"{ifeq:payment_method:credit_card: selected="selected"}>Credit card</option>
				<option value="paypal"{ifeq:payment_method:paypal: selected="selected"}>PayPal</option>
				<option value="wire"{ifeq:payment_method:wire: selected="selected"}>Wire transfer</option>
			</select>
		</div>
		<div>
			<label>Country</label>
			<select name="country">
				<!-- startBlock(countries) -->
				<option value="{id}"{ifset:selected: selected="selected"}>{name}</option>
				<!-- endBlock(countries) -->
			</select>
		</div>
	</div>

	<div class="double_cols">
		<div>
			<label>Postal code</label>
			<input type="text" name="post_code" value="{post_code}" />
		</div>
		<div>
			<label>City</label>
			<input type="text" name="city" value="{city}" />
		</div>
	</div>

	<div class="double_cols">
		<div>
			<label>Address</label>
			<input type="text" name="address" value="{address}" />
		</div>
		<div>
			<label>Phone</label>
			<input type="text" name="phone" value="{phone}" />
		</div>
	</div>

	<h2>Order</h2>
	<table cellspacing="0" cellpadding="5">
		<tr>
			<th>№</th>
			<th>Picture</th>
			<th>Code</th>
			<th>Name</th>
			<th>Price</th>
			<th>Size</th>
			<th>Quantity</th>
		</tr>
		<!-- startBlock(orders_details) -->
		<tr>
			<td valign="top" nowrap="nowrap">
				<a href="index.php?act=orders&delete_product&id={id}" onclick="javascript:return confirm('Сигурни ли сте, че желаете да изтриете този артикул от поръчката?');"><img src="images/delete.png" alt="Delete" /></a>
				<a href="index.php?act=orders&edit_product&id={id}");"><img src="images/edit.png" alt="Edit" /></a>
			</td>
			<td valign="top"><img src="../upload/thumbs/{picture}" alt="" /></td>
			<td valign="top">{code}</td>
			<td valign="top">{name}</td>
			<td valign="top">{price} {currency}</td>
			<td valign="top">{size}</td>
			<td valign="top">{quantity}</td>
		</tr>
		<!-- endBlock(orders_details) -->
	</table>
	<fieldset class="toggle">
		<legend>Add product</legend>
		<table cellspacing="0" cellpadding="0" style="width: 100%;">
			<tr>
				<td valign="top" style="width: 20%">
					<div class="picture"></div>
				</td>
				<td valign="top" style="width: 60%">
					<label>Product</label>
					<input type="text" class="search_autocomplete" name="product" placeholder="Input product code"/>
					<div class="product_code">Code: <span></span></div>
					<div class="product_price">Price: <span></span></div>
					<div class="product_info">Description: <span></span></div>
					<div class="product_quantities">Quantities: <span></span></div>
					<div class="product_instock">In stock: <span></span></div>
				</td>
				<td valign="top" style="width: 20%; text-align: right;">
					<!-- startBlock(sizes) -->
					<div><span class="size_name">{name}</span><input type="text" name="quantities[{id}]" value="0" style="width: 40px;"/></div>
					<!-- endBlock(sizes) -->
				</td>
			</tr>
		</table>
		<input type="submit" name="add_product" class="button" value="Add product">
	</fieldset>

	
	<label>Delivery price</label>
	<div><input type="text" name="delivery_costs" value="{delivery_costs}" /></div>

	<label>Discount (%)</label>
	<div><input type="text" name="discount" value="{discount}" /></div>

	<label>Notes</label>
	<div><textarea name="notes">{notes}</textarea></div>

	<input type="submit" name="submit" class="button" value="Update">
</form>

