<form enctype="multipart/form-data" action="" method="post" />
	<input type="hidden" name="id" value="{id}" />

	<h2>Information</h2>
	<label>Code</label>
	<div><input type="text" name="code" value="{code}" /></div>

	<label>Supplier</label>
	<div>
		<select name="supplier">
			<option value="0">--</option>
			<!-- startBlock(suppliers) -->
			<option value="{id}"{ifset:selected: selected="selected"}>{name}</option>
			<!-- endBlock(suppliers) -->
		</select>
	</div>

	<label>Name</label>
	<div><input type="text" name="name" value="{name}" /></div>

	<h2>Quantities</h2>
	<table>
		<tr>
			<th>Size</th>
			<th>Quantity</th>
			<th>Minimum Q.</th>
		</tr>
	<!-- startBlock(quantities) -->
		<tr>
			<td>{size}</td>
			<td><input type="text" name="quantity[{size_id}]" value="{quantity}" /></td>
			<td><input type="text" name="min_quantity[{size_id}]" value="{min_quantity}" /></td>
		</tr>
	<!-- endBlock(quantities) -->
	</table>

	<h2>Prices</h2>
	<table>
		<tr>
			<th>Country</th>
			<th>Price</th>
			<th>Currency</th>
		</tr>
	<!-- startBlock(prices) -->
		<tr>
			<td>{country}</td>
			<td><input type="text" name="prices[{country_id}]" value="{price}" /></td>
			<td>{currency}</td>
		</tr>
	<!-- endBlock(prices) -->
	</table>

	<h2>Pictures</h2>
	<!-- startBlock(file) -->
	<div class="img" style="background-image: url('../upload/thumbs/{file}');">
		<span class="links">
			<a href="index.php?act=products&amp;edit&amp;id={id}&amp;main={picture}" >
				<img src="images/enabled{main}.png" alt="Main picture" />
			</a>
			<br />
			<a href="index.php?act=products&amp;edit&amp;id={id}&amp;delpic={picture}" onClick="javascript:return confirm('Are you sure?');" >
				<img src="images/delete.png" alt="Delete" />
			</a>
		</span>
	</div>
	<!-- emptyBlock(file) -->
	No results.
	<!-- endBlock(file) -->
	<div class="clear"></div>

	<fieldset class="toggle" style="margin: 20px;">
		<legend>New picture</legend>
			<label>Picture:</label>
			<input type="file" name="pictures[]">
			<span id="FM~cust"></span>

			<input class="button" onclick="javascript:addUploadFields()" value="More" type="button" />
			<input class="button" type="submit" name="submit" value="Update and add picture(s)"></td>
	</fieldset>

	<script>
	function addUploadFields(pl) {
		var anotherSpan = document.createElement('span');
		data = '<input type="file" name="pictures[]">';
		anotherSpan.innerHTML = data;
		document.getElementById('FM~cust').appendChild(anotherSpan);
	}
	</script>

	<input type="submit" name="submit" class="button" value="Update">
</form>
