<script type="text/javascript">
	$(document).ready(function() {
		$('#products').DataTable({
			columnDefs: [
			  { targets: 'no-sort', orderable: false }
			],
			"bPaginate": false
		});
		$(".edit_products").editable("index.php?act=products&save_quantity", {
			loadurl: "index.php?act=products&load_quantity",
			select: true,
			onblur : 'submit'
		});
		$(".edit_products_min").editable("index.php?act=products&save_min_quantity", {
			loadurl: "index.php?act=products&load_min_quantity",
			select: true,
			onblur : 'submit'
		});

	});
</script>

<table cellpadding="0" cellspacing="0" id="products" class="increased_padding" style="width:100%">
	<thead>
		<tr>
			<th class="no-sort" rowspan="2">&nbsp;</th>
			<th class="no-sort" rowspan="2">Preview</th>
			<th rowspan="2">Added</th>
			<th rowspan="2">Code</th>
			<th class="no-sort" rowspan="2">Supplier</th>
			<th class="no-sort" rowspan="2">Name</th>
			<th rowspan="2">Total</th>
			<th colspan="{sizes_count}">Quantities</th>
			<th colspan="{sizes_count}">Minimum Q.</th>
			<th colspan="{countries_count}">Prices</th>
		</tr>
		<tr>
			<!-- startBlock(sizes) -->  
			<th class="no-sort" style="width: 20px;">{name}</th>
			<!-- endBlock(sizes) -->  
			<!-- startBlock(sizes2) -->  
			<th class="no-sort" style="width: 20px;">{name}</th>
			<!-- endBlock(sizes2) -->  
			<!-- startBlock(countries) -->  
			<th class="no-sort" style="width: 20px;">{name}</th>
			<!-- endBlock(countries) -->  
		</tr>
	</thead>
<!-- startBlock(products) -->  
	<tr{ifset:color:{color}}>
		<td nowrap="nowrap">
			{ifset:menu_products_edit:<a href="index.php?act=products&edit&id={id}"><img src="images/edit.png" alt="Edit" /></a>}
			{ifset:menu_products_edit:<a class="keep_scroll" href="index.php?act=products&in_stock&id={id}"><img src="images/approved{in_stock}.gif" alt="In stock" /></a>}
			{ifset:menu_products_delete:<a href="index.php?act=products&delete&id={id}" onclick="javascript:return confirm('Are you sure?');"><img src="images/delete.png" alt="Delete" /></a>}
		</td>
		<td><a href="index.php?act=products&download_pic&id={id}"><img src="../upload/thumbs/{picture}" alt="" style="height: 50px;" /></a></td>
		<td>{added}</td>
		<td>{code}</td>
		<td>{supplier}</td>
		<td>{name}</td>
		<td>{quantity}</td>
		<!-- startBlock(products_sizes) -->  
		<td nowrap="nowrap">
			{ifset:products_edit:<span id="q_{id}" class="edit_products">{quantity}</span>}
			{ifnotset:products_edit:{quantity}}
		</td>
		<!-- endBlock(products_sizes) -->  
		<!-- startBlock(products_sizes2) -->  
		<td nowrap="nowrap">
			{ifset:products_edit:<span id="minq_{id}" class="edit_products_min">{quantity}</span>}
			{ifnotset:products_edit:{quantity}}
		</td>
		<!-- endBlock(products_sizes2) -->  
		<!-- startBlock(products_prices) -->  
		<td nowrap="nowrap">{price} {currency}</td>
		<!-- endBlock(products_prices) -->  
	</tr>
<!-- endBlock(products) -->
</table>


<fieldset class="toggle" style="margin: 20px;">
	<legend>New product</legend>
	<form enctype="multipart/form-data" action="" method="post" />

		<h2>Information</h2>
		<label>Code</label>
		<div><input type="text" name="code" /></div>

		<label>Supplier</label>
		<div>
			<select name="supplier">
				<option value="0">--</option>
				<!-- startBlock(suppliers) -->
				<option value="{id}">{name}</option>
				<!-- endBlock(suppliers) -->
			</select>
		</div>

		<label>Name</label>
		<div><input type="text" name="name" /></div>

		<h2>Quantities</h2>
		<table>
			<tr>
				<th>Size</th>
				<th>Quantity</th>
				<th>Minimum Q.</th>
			</tr>
		<!-- startBlock(quantities) -->
			<tr>
				<td>{size}</td>
				<td><input type="text" name="quantity[{size_id}]" value="{quantity}" /></td>
				<td><input type="text" name="min_quantity[{size_id}]" value="{min_quantity}" /></td>
			</tr>
		<!-- endBlock(quantities) -->
		</table>

		<h2>Prices</h2>
		<table>
			<tr>
				<th>Country</th>
				<th>Price</th>
				<th>Currency</th>
			</tr>
		<!-- startBlock(prices) -->
			<tr>
				<td>{country}</td>
				<td><input type="text" name="prices[{country_id}]" value="{price}" /></td>
				<td>{currency}</td>
			</tr>
		<!-- endBlock(prices) -->
		</table>

		<h2>Pictures</h2>
		<input type="file" name="pictures[]">
		<span id="FM~cust"></span>

		<input class="button" onclick="javascript:addUploadFields()" style="width: 20%" value="More" type="button" />

		<script>
		function addUploadFields(pl) {
			var anotherSpan = document.createElement('span');
			data = '<input type="file" name="pictures[]">';
			anotherSpan.innerHTML = data;
			document.getElementById('FM~cust').appendChild(anotherSpan);
		}
		</script>

		<input type="submit" class="button" name="submit" value="Add">
	</form>
</fieldset>
