<script type="text/javascript">
	$(document).ready(function() {
		$('#products').DataTable({
			columnDefs: [
			  { targets: 'no-sort', orderable: false }
			],
			"bPaginate": false
		});
	});
</script>

<form enctype="multipart/form-data" action="" method="post" />
		<label for="date_from">From</label>
		<input name="date_from" id="date_from" value="{date_from}" class="datepicker" placeholder="YYYY-MM-DD" type="text" />
		<label for="date_to">To</label>
		<input name="date_to" id="date_to" value="{date_to}" class="datepicker" placeholder="YYYY-MM-DD" type="text" />
		<input class="button" style="width: auto;" name="filter" type="submit" value="Filter" />
</form>

<table cellpadding="0" cellspacing="0" id="products" class="increased_padding" style="width:100%">
	<thead>
		<tr>
			<th class="no-sort">Preview</th>
			<th>Supplier</th>
			<th>Code</th>
			<th>Name</th>
			<th>In storage</th>
			<th class="no-sort">Size</th>
			<th>Ordered</th>
			<th>Difference</th>
<!--			<th class="no-sort">E-Mail</th>-->
		</tr>
	</thead>
<!-- startBlock(products) -->  
	<tr>
		<td><img src="../upload/thumbs/{file}" alt="" style="height: 50px;" /></td>
		<td>{supplier_name}</td>
		<td>{code}</td>
		<td>{name}</td>
		<td>{quantity}</td>
		<td>{size_name}</td>
		<td>{ordered}</td>
		<td>{diff}</td>
<!--		<td><input type="checkbox" name="{detail_id}" checked="checked" /></td>-->
	</tr>
<!-- endBlock(products) -->
</table>

