<form enctype="multipart/form-data" action="" method="post" name="form" />
<input type="hidden" name="id" value="{id}" />
<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<div>Name</div>
			<div><input type="text" name="title" value="{title}" /></div>
		</td>
	</tr>
	<tr>
		<td>
			<div>Alias</div>
			<div><input type="text" name="name" value="{name}" /></div>
		</td>
	</tr>
	<tr>
		<td><input type="submit" name="submit" class="button" value="Update"></td>
	</tr>
</table>
</form>
