<table cellpadding="0" cellspacing="0">
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Alias</th>
	</tr>
<!-- startBlock(roles) -->  
	<tr>
		<td>
			<a href="index.php?act=roles&edit&id={id}"><img src="images/edit.png" alt="Edit" /></a>
			<a href="index.php?act=roles&delete&id={id}&token={token}" onclick="javascript:return confirm('Are you sure?');"><img src="images/delete.png" alt="Delete" /></a>
		</td>
		<td>{title}</td>
		<td>{name}</td>
	</tr>
<!-- emptyBlock(roles) -->
	<tr>
		<td colspan="3">No results.</td>
	</tr>
<!-- endBlock(roles) -->
</table>

<fieldset class="toggle" style="margin: 20px;">
	<legend>Add a role</legend>
	<form method="post" action="" />
		<table class="layout">
			<tr>
				<td>Name</td>
				<td><input type="text" class="text" name="title" id="title" /></td>
			</tr>
			<tr>
				<td>Alias</td>
				<td><input type="text" class="text" name="name" id="name" /></td>
			</tr>
			<tr>
				<td>Add after</td>
				<td>
					<select class="hundr" name="nextto" id="nextto">
						<option value="0">--</option>
<!-- startBlock(roles2) -->  
						<option value="{id}">{title}</option>
<!-- endBlock(roles2) -->  
					</select>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><strong>OR</strong></td>
			</tr>
			<tr>
				<td>Add as a category to</td>
				<td>
					<select class="hundr" name="parent" id="parent">
						<option value="0">--</option>
<!-- startBlock(roles3) -->  
						<option value="{id}">{title}</option>
<!-- endBlock(roles3) -->  
					</select>
				</td>
			</tr>
		</table>
		<input type="submit" name="submit" class="button" value="Add" />
	</form>
</fieldset>
