<form enctype="multipart/form-data" action="" method="post" />
		<label for="date_from">From</label>
		<input name="date_from" id="date_from" value="{date_from}" class="datepicker" placeholder="YYYY-MM-DD" type="text" />
		<label for="date_to">To</label>
		<input name="date_to" id="date_to" value="{date_to}" class="datepicker" placeholder="YYYY-MM-DD" type="text" />
		<input class="button" style="width: auto;" name="filter" type="submit" value="Filter" />
</form>

<h2>Number of orders</h2>
<table cellpadding="0" cellspacing="0" style="width:100%">
	<tr>
		<th rowspan="2">User</th>
		<th colspan="4">&nbsp;</th>
	</tr>
	<tr>
		<th><img src="images/green.jpg" alt="" /></td>
		<th><img src="images/red.jpg" alt="" /></td>
		<th><img src="images/gray.jpg" alt="" /></td>
		<th><img src="images/purple.jpg" alt="" /></td>
	</tr>
<!-- startBlock(users) -->
	<tr>
		<td>{name}</td>
		<td>{green}</td>
		<td>{red}</td>
		<td>{gray}</td>
		<td>{purple}</td>
	</tr>
<!-- endBlock(users) -->
</table>

<h2>Number of sold products</h2>
<table cellpadding="0" cellspacing="0" style="width:100%">
	<tr>
		<th>User</th>
		<th>Count</th>
	</tr>
<!-- startBlock(user_quantities) -->
	<tr>
		<td>{name}</td>
		<td>{cnt}</td>
	</tr>
<!-- endBlock(user_quantities) -->
</table>

<h2>Profit</h2>
<table cellpadding="0" cellspacing="0" style="width:100%">
	<tr>
		<th>User</th>
		<th>&nbsp;</th>
	</tr>
<!-- startBlock(user_sales) -->
	<tr>
		<td>{name}</td>
		<td>
		<!-- startBlock(countries) -->
		<div><strong>{country}</strong>: {total}</div>
		<!-- endBlock(countries) -->
		</td>
	</tr>
<!-- endBlock(user_sales) -->
</table>
