<form enctype="multipart/form-data" action="" method="post" />
	<input type="hidden" name="id" value="{id}" />

	<label>Names</label>
	<div><input type="text" name="name" value="{name}" /></div>

	<label>Phone</label>
	<div><input type="text" name="phone" value="{phone}" /></div>

	<label>E-Mail</label>
	<div><input type="text" name="email" value="{email}" /></div>

	<label for="email_period">E-Mail notification period</label>
	<div>
		<select name="email_period">
			<option value="0" {ifeq:email_period:0:selected="selected"}>Never</option>
			<option value="1" {ifeq:email_period:1:selected="selected"}>Always</option>
			<option value="43200" {ifeq:email_period:43200:selected="selected"}>Twice a day</option>
			<option value="86400" {ifeq:email_period:86400:selected="selected"}>Daily</option>
			<option value="604800" {ifeq:email_period:604800:selected="selected"}>Weekly</option>
		</select>
	</div>

	<input type="submit" name="submit" class="button" value="Update">
</form>
