<table cellpadding="0" cellspacing="0">
	<tr>
		<th>&nbsp;</th>
		<th>Names</th>
		<th>Phone</th>
		<th>E-Mail</th>
	</tr>
<!-- startBlock(suppliers) -->
	<tr>
		<td>
			<a href="index.php?act=suppliers&edit&id={id}"><img src="images/edit.png" alt="Update" /></a>
			<a href="index.php?act=suppliers&delete&id={id}" onclick="javascript:return confirm('Are you sure?');"><img src="images/delete.png" alt="Delete" /></a>
		</td>
		<td>{name}</td>
		<td>{phone}</td>
		<td>{email}</td>
	</tr>
<!-- emptyBlock(suppliers) -->
	<tr>
		<td colspan="4">No results.</td>
	</tr>
<!-- endBlock(suppliers) -->
</table>


<fieldset class="toggle" style="margin: 20px;">
	<legend>New supplier</legend>
	<form enctype="multipart/form-data" action="" method="post" />
		<label>Names</label>
		<div><input type="text" name="name" /></div>

		<label>Phone</label>
		<div><input type="text" name="phone" /></div>

		<label>E-Mail</label>
		<div><input type="text" name="email" /></div>

		<input type="submit" class="button" name="submit" value="Add">
	</form>
</fieldset>
