<form enctype="multipart/form-data" action="" method="post" name="form" />
	<input type="hidden" name="id" value="{id}" />

	<label for="username">Username <span class="required">*</span></label>
	<input type="text" id="username" name="username" value="{username}" />

	<label>User group</label>
	<div>
		<select name="group">
			<option value="0">--</option>
			<!-- startBlock(users_groups) -->
			<option value="{id}"{ifset:selected: selected="selected"}>{name}</option>
			<!-- endBlock(users_groups) -->
		</select>
	</div>

	<label>Country</label>
	<div>
		<select name="country">
			<option value="0">--</option>
			<!-- startBlock(countries) -->
			<option value="{id}"{ifset:selected: selected="selected"}>{name}</option>
			<!-- endBlock(countries) -->
		</select>
	</div>

	<label for="name">Name <span class="required">*</span></label>
	<input type="text" id="name" name="name" value="{name}" />

	<label for="email">E-Mail <span class="required">*</span></label>
	<input type="text" id="email" name="email" value="{email}" />

	<input type="submit" class="button" name="submit" value="Update">
</form>
