<form enctype="multipart/form-data" action="" method="post" name="form" />
	<input type="hidden" name="id" value="{id}" />

	<label for="name">Name <span class="required">*</span></label>
	<input type="text" id="name" name="name" value="{name}" />

	<h2>Privileges</h2>
<!-- startBlock(privileges) -->
	<div>
		<input id="{name}" class="checkbox privilege_check" type="checkbox"{checked} name="privileges[{id}]">
		<label for="{name}">{title} ({name})</label>
	</div>
<!-- emptyBlock(privileges) -->
	No results.
<!-- endBlock(privileges) -->

	<input type="submit" class="button" name="submit" value="Update">
</form>
