<form enctype="multipart/form-data" action="" method="post" name="form" />
<input type="hidden" name="id" value="{id}" />
<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<div>Password <span class="required">*</span></div>
			<div><input type="password" name="password" /></div>
		</td>
	</tr>
	<tr>
		<td>
			<div>Repeat password <span class="required">*</span></div>
			<div><input type="password" name="password2" /></div>
		</td>
	</tr>
	<tr>
		<td><input type="submit" class="button" name="submit" value="Update"></td>
	</tr>
</table>
</form>
