<table cellpadding="0" cellspacing="0">
	<tr>
		<th>&nbsp;</th>
		<th>Username</th>
		<th>User group</th>
		<th>Country</th>
		<th>Name</th>
		<th>E-Mail</th>
	</tr>
<!-- startBlock(users) -->  
	<tr>
		<td>
			{ifset:menu_users_edit:<a href="index.php?act=users&edit&id={id}"><img src="images/edit.png" alt="Edit" /></a>}
			{ifset:menu_users_password:<a href="index.php?act=users&password&id={id}"><img src="images/password.png" alt="Password" /></a>}
			{ifset:menu_users_delete:<a href="index.php?act=users&delete&id={id}&token={token}" onclick="javascript:return confirm('Are you sure?');"><img src="images/delete.png" alt="Delete" /></a>}
		</td>
		<td>{username}</td>
		<td>{group}</td>
		<td>{country}</td>
		<td>{name}</td>
		<td>{email}</td>
	</tr>
<!-- emptyBlock(users) -->
	<tr>
		<td colspan="6">No results</td>
	</tr>
<!-- endBlock(users) -->
</table>

<fieldset class="toggle" style="margin: 20px;">
	<legend>Add an user</legend>
	<form enctype="multipart/form-data" action="" method="post" />
		<label for="username">Username <span class="required">*</span></label>
		<input type="text" id="username" name="username" value="{username}" />

		<label>User group</label>
		<div>
			<select name="group">
				<option value="0">--</option>
				<!-- startBlock(users_groups) -->
				<option value="{id}">{name}</option>
				<!-- endBlock(users_groups) -->
			</select>
		</div>

		<label>Country</label>
		<div>
			<select name="country">
				<option value="0">--</option>
				<!-- startBlock(countries) -->
				<option value="{id}">{name}</option>
				<!-- endBlock(countries) -->
			</select>
		</div>

		<label for="name">Name <span class="required">*</span></label>
		<input type="text" id="name" name="name" value="{name}" />

		<label for="email">E-Mail <span class="required">*</span></label>
		<input type="text" id="email" name="email" value="{email}" />

		<div class="double_cols">
			<div>
				<label for="password">Password <span class="required">*</span></label>
				<input type="password" id="password" name="password" />
			</div>
			<div>
				<label for="password2">Repeat password <span class="required">*</span></label>
				<input type="password" id="password2" name="password2" />
			</div>
		</div>

		<input type="submit" name="submit" class="button" value="Add">
	</form>
</fieldset>