<table cellpadding="0" cellspacing="0">
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
	</tr>
<!-- startBlock(users_groups) -->  
	<tr>
		<td>
			{ifset:menu_users_groups_edit:<a href="index.php?act=users_groups&edit&id={id}"><img src="images/edit.png" alt="Edit" /></a>}
			{ifset:menu_users_groups_delete:<a href="index.php?act=users_groups&delete&id={id}&token={token}" onclick="javascript:return confirm('Are you sure?');"><img src="images/delete.png" alt="Delete" /></a>}
		</td>
		<td>{name}</td>
	</tr>
<!-- emptyBlock(users_groups) -->
	<tr>
		<td colspan="2">No results</td>
	</tr>
<!-- endBlock(users_groups) -->
</table>

<fieldset class="toggle" style="margin: 20px;">
	<legend>Add an user group</legend>
	<form enctype="multipart/form-data" action="" method="post" />
		<label for="name">Name <span class="required">*</span></label>
		<input type="text" id="name" name="name" value="{name}" />

		<input type="submit" name="submit" class="button" value="Add">
	</form>
</fieldset>